{% extends 'teacher/layouts/base_layout.html' %}
{% load static %}
{% block title %}MakeExam{% endblock %}
{% block script %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
    <script type="text/javascript" src="{% static 'teacher/js/Editor.js' %}"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    <script src="https://unpkg.com/mathlive"></script>
    <script type="module" src="{% static 'teacher/js/MathLive.js' %}"></script>
{% endblock %}
{% block owl-js %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
    <link rel="stylesheet" href="https://unpkg.com/mathlive/dist/mathlive.core.css"/>
    <link rel="stylesheet" href="https://unpkg.com/mathlive/dist/mathlive.css"/>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
{% endblock %}
{% block animate.css %}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
{% endblock %}
{% block loader-in-sidebar %}
    <div class="dispensing w-100">
        <div class="updating">
            <span>در حال به روز رسانی ...</span>
            <div class="loader"></div>
        </div>
        <div class="saved">
            <span>
                <svg class="bi bi-cloud" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M4.887 7.2l-.964-.165A2.5 2.5 0 103.5 12h10a1.5 1.5 0 00.237-2.981L12.7 8.854l.216-1.028a4 4 0 10-7.843-1.587l-.185.96zm9.084.341a5 5 0 00-9.88-1.492A3.5 3.5 0 103.5 13h9.999a2.5 2.5 0 00.394-4.968c.033-.16.06-.324.077-.49z"
                          clip-rule="evenodd"></path>
                    </svg>
            </span>
            <span>ثبت اخیر<span> لحظات</span> قبل</span>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="make-exam-top">
        <h1 class="make-exam-h1">افزودن سوال جدید</h1>
        <div class="top-icons">
            {#            <span><img src="{% static 'main/img/technology.svg' %}"></span>#}
            <span><img src="{% static 'main/img/signs.svg' %}" alt=""></span>
            {#            <span><img src="{% static 'main/img/education.svg' %}"></span>#}
            {#            <span><img src="{% static 'main/img/maths.svg' %}"></span>#}
            {#            <span><img src="{% static 'main/img/transport.svg' %}"></span>#}
            {#            <span><svg class="bi bi-bar-chart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"#}
            {#                       xmlns="http://www.w3.org/2000/svg">#}
            {#                <rect width="4" height="5" x="1" y="10" rx="1"/>#}
            {#                <rect width="4" height="9" x="6" y="6" rx="1"/>#}
            {#                <rect width="4" height="14" x="11" y="1" rx="1"/>#}
            {#            </svg></span>#}
        </div>
        <div class="path">
                    <span>
                        <a href="{% url 'teacher:index' %}">
                            <svg class="bi bi-house-door-fill" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.5 10.995V14.5a.5.5 0 01-.5.5H2a.5.5 0 01-.5-.5v-7a.5.5 0 01.146-.354l6-6a.5.5 0 01.708 0l6 6a.5.5 0 01.146.354v7a.5.5 0 01-.5.5h-4a.5.5 0 01-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"></path>
                                    <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z"
                                          clip-rule="evenodd"></path>
                            </svg>
                        </a>
                        <span>
                            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <a href="{% url 'teacher:index' %}">آزمون ها</a>
                        <span>
                            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <a href="#">افزودن سوال</a>
                    </span>
        </div>
    </div>
    <div class="row make-exam-bottom-row w-100">
        <div class="card w-100" id="{{ pk }}">
            <div class="card-body">
                <form id="add-question-form" method="post" action="{% url 'teacher:saveNewQuestion' %}">
                    {% csrf_token %}
                    <label for="question-textarea" class="question-textarea-label">صورت سوال</label>
                    <div id="question-textarea" class="w-100 question-textarea">
                        <div id="summernote"></div>
                    </div>
                    <div class="change-btns">
                        <button type="button" class="btn btn-blue">
                            <svg class="bi bi-grid" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M1 2.5A1.5 1.5 0 012.5 1h3A1.5 1.5 0 017 2.5v3A1.5 1.5 0 015.5 7h-3A1.5 1.5 0 011 5.5v-3zM2.5 2a.5.5 0 00-.5.5v3a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-3a.5.5 0 00-.5-.5h-3zm6.5.5A1.5 1.5 0 0110.5 1h3A1.5 1.5 0 0115 2.5v3A1.5 1.5 0 0113.5 7h-3A1.5 1.5 0 019 5.5v-3zm1.5-.5a.5.5 0 00-.5.5v3a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-3a.5.5 0 00-.5-.5h-3zM1 10.5A1.5 1.5 0 012.5 9h3A1.5 1.5 0 017 10.5v3A1.5 1.5 0 015.5 15h-3A1.5 1.5 0 011 13.5v-3zm1.5-.5a.5.5 0 00-.5.5v3a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-3a.5.5 0 00-.5-.5h-3zm6.5.5A1.5 1.5 0 0110.5 9h3a1.5 1.5 0 011.5 1.5v3a1.5 1.5 0 01-1.5 1.5h-3A1.5 1.5 0 019 13.5v-3zm1.5-.5a.5.5 0 00-.5.5v3a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-3a.5.5 0 00-.5-.5h-3z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </button>
                        <button type="button" class="btn">
                            <svg class="bi bi-list" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="row w-100">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="row w-100 choices">
                                    <div class="col-lg-6 choice">
                                        <label for="1th-choice" class="custom-input"><span>گزینه اول</span>
                                            <input type="radio" id="1th-choice" name="choice"
                                                   value="first-choice">
                                            <span class="tick"></span>
                                        </label>
                                        <div class="first-choice-text"></div>
                                    </div>
                                    <div class="col-lg-6 choice">
                                        <label for="2th-choice" class="custom-input"><span class="left-choices-label">گزینه دوم</span>
                                            <input type="radio" id="2th-choice" name="choice"
                                                   value="first-choice">
                                            <span class="tick left-choices-tick"></span>
                                        </label>
                                        <div class="second-choice-text"></div>
                                    </div>
                                    <div class="col-lg-6 choice">
                                        <label for="3th-choice" class="custom-input"><span>گزینه سوم</span>
                                            <input type="radio" id="3th-choice" name="choice"
                                                   value="first-choice">
                                            <span class="tick"></span>
                                        </label>
                                        <div class="third-choice-text"></div>
                                    </div>
                                    <div class="col-lg-6 choice">
                                        <label for="4th-choice"
                                               class="custom-input"><span class="left-choices-label">گزینه چهارم</span>
                                            <input type="radio" id="4th-choice" name="choice"
                                                   value="first-choice">
                                            <span class="tick left-choices-tick"></span>
                                        </label>
                                        <div class="fourth-choice-text"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item"><label for="complete-ans" class="complete-ans-label">پاسخ تشریحی</label>
                                <div id="complete-ans" class="w-100 complete-ans">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row w-100 state">
                        <div class="form-group col-md-4">
                            <label for="grade-select">پایه</label>
                            <select id="grade-select" class="form-control">
                                <option selected>انتخاب کنید</option>
                                {% for grade in grades %}
                                    <option class="no-select">{{ grade.name }}</option>
                                {% endfor %}
                            </select>
                            <span class="ti-angle-down"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="lesson-select">درس</label>
                            <select id="lesson-select" class="form-control">
                                <option selected>انتخاب کنید</option>
                                <option class="no-select">s</option>
                                <option class="no-select">sl;jl</option>

                            </select>
                            <span class="ti-angle-down"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="chapter-select">فصل</label>
                            <select id="chapter-select" class="form-control">
                                <option selected>انتخاب کنید</option>
                                <option class="no-select">انتب کنید</option>
                                <option class="no-select">انتب کنیkjgkjjد</option>
                            </select>
                            <span class="ti-angle-down"></span>
                        </div>
                    </div>
                    <div class="row w-100 tg-input">
                        <label for="tag-input">کلید واژه</label>
                        <input id="tag-input" class="tag-input">
                    </div>
                    <div class="row toggle-switch">
                        <span>انتشار</span>
                        <label class="switch">
                            <input type="checkbox" name="is_publish">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="me-btns">
                        <input type="reset" class="btn dispensing-btn" value="انصراف" data-toggle="modal"
                               data-target="#exampleModalCenter">
                        {% url 'teacher:cancelAddQuestion' pk as cancelAddQuestion %}
                        {% include 'teacher/layouts/alert-modals.html' with href=cancelAddQuestion %}
                        <input type="submit" class="btn btn-blue" value="ثبت سوال">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}