{% extends 'teacher/layouts/base_layout.html' %}
{% load static %}
{% block no-padding-Page-Body %}no-padding-Page-Body{% endblock %}
{% block title %}ویرایش سوالات{% endblock %}
{% block content %}
    <div class="modal fade" id="examInfo" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg  modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">اطلاعات آزمون</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg class="bi bi-x" width="20px" height="20px" viewBox="0 0 16 16" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
                                  clip-rule="evenodd"></path>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="input-group mb-3">
                            <label for="examSubject">عنوان سوال</label>
                            <input type="text" id="examSubject" class="form-control fc1" aria-label="Username"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="suggested-time">
                            <h4>زمان پیشنهادی</h4>
                            <div>
                                <input type="number" id="second" min="0" max="59" placeholder="ثانیه">
                                <span> : </span>
                                <input type="number" id="minute" min="0" max="59" placeholder="دقیقه">
                                <span> : </span>
                                <input type="number" id="hour" min="0" max="4" placeholder="ساعت">
                            </div>
                        </div>
                        <div>
                            <label for="examExplanation">توضیحات آزمون</label>
                            <textarea id="examExplanation" rows="5"></textarea>
                        </div>
                        <div class="row toggle-switch">
                            <span>گزینه ی تصادفی</span>
                            <label class="switch">
                                <input type="checkbox" name="is_publish">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <input type="submit" class="btn btn-blue" value="ثبت نهایی">
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="row w-100">
        <div class="col-12">
            <div class="next-question-page-body">
                <h1><span>ویرایش سوالات</span> <span>({{ questions.count }})</span></h1>
                <div class="row w-100">
                    <div class="path">
                        <span>
                        <a href="{% url 'teacher:index' %}">
                            <svg class="bi bi-house-fill" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8 3.293l6 6V13.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z"
                                      clip-rule="evenodd"></path>
                                <path fill-rule="evenodd"
                                      d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </a>
                        <span>
                            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <a href="{% url 'teacher:questions' %}">بانک سوال</a>
                        <span>
                            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <a href="#">ویرایش سوالات</a>
                        </span>
                    </div>
                    <div class="trash-and-drag">
                        <div data-toggle="tooltip" data-placement="top" title="<p class='tool'>ترتیب بندی دلخواه سوالات</p>">
                            <svg class="bi bi-arrow-down-up" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M11 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"></path>
                                <path fill-rule="evenodd"
                                      d="M10.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11 3.707 8.354 6.354a.5.5 0 1 1-.708-.708l3-3zm-9 7a.5.5 0 0 1 .708 0L5 12.293l2.646-2.647a.5.5 0 1 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"></path>
                                <path fill-rule="evenodd"
                                      d="M5 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z"></path>
                            </svg>
                        </div>

                        <a data-toggle="modal" data-target="#exampleModalCenter" >
                            <div data-toggle="tooltip" data-placement="top" title="<p class='tool'>حذف تمام سوالات</p>">
                                <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                    <path fill-rule="evenodd"
                                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                </svg>
                            </div>
                        </a>
{#                        {% url 'teacher:delete_exam' pack_pk as DeleteAllQuestions %}#}
                        {% include 'teacher/layouts/alert-modals.html'%}
                    </div>
                </div>
                <div class="row header">
                    <span>نمایش</span>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span>از آسان به سخت</span>
                            <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                            </svg>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span>تالیف</span>
                            <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                            </svg>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span>سطح</span>
                            <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                            </svg>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span>درس</span>
                            <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                            </svg>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control fc1" placeholder=" جستجوی سوالات"
                               aria-label="Username"
                               aria-describedby="basic-addon1">
                        <span class="ti-search"></span>
                    </div>
                    <a href="{% url 'teacher:questions' %}">
                        <div class="plus-question">
                            <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"></path>
                                <path fill-rule="evenodd"
                                      d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"></path>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="questions">
                    <div class="row questions-content">
                        {% for question in questions %}
                            <div class="card w-100" id="{{ question.pk }}">
                                <div class="card-body">
                                    <div class="question-type">
                        <span>
                            <span>پایه دهم</span>
                            <span>
                                <svg class="bi bi-chevron-left" width="1em" height="1em"
                                     viewBox="0 0 16 16"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </span>
                            <span>بانک سوال</span>
                            <span>
                                <svg class="bi bi-chevron-left" width="1em" height="1em"
                                     viewBox="0 0 16 16"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </span>
                            <span>همه ی سوالات</span>
                        </span>
                                    </div>
                                    <div class="question-info">
                                        <div class="question-info-data">
                            <span class="question-level">
                                <svg class="bi bi-dot bi-dot-simple" width="1em" height="1em"
                                     viewBox="0 0 16 16" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M8 9.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                <span>ساده</span>
                            </span>
                                            <span>
                                <svg class="bi bi-pie-chart" width="1em" height="1em"
                                     viewBox="0 0 16 16" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                                          clip-rule="evenodd"></path>
                                    <path fill-rule="evenodd"
                                          d="M7.5 7.793V1h1v6.5H15v1H8.207l-4.853 4.854-.708-.708L7.5 7.793z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </span>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <svg class="bi bi-three-dots" width="1em" height="1em"
                                                         viewBox="0 0 16 16" fill="currentColor"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                              d="M3 9.5a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3z"
                                                              clip-rule="evenodd"></path>
                                                    </svg>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="question-info-img">
                                            <img src="{% static 'main/img/'|add:question.source|add:'.png' %}"
                                                 alt="question source">
                                            <p>98-99</p>
                                        </div>
                                    </div>
                                    <button type="button" class="close">
                                        <svg class="bi bi-x" width="20px" height="20px" viewBox="0 0 16 16"
                                             fill="currentColor"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
                                                  clip-rule="evenodd"></path>
                                            <path fill-rule="evenodd"
                                                  d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                                                  clip-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                    <div class="question-text">
                                        <pre>{{ question.body }}</pre>
                                    </div>
                                    <div class="question-inline-choices">
                                        <span>1) {{ question.choice_1 }}</span>
                                        <span class="selected-correct-choice"><span
                                                class="inline-selected-correct-choice-tick"></span>2) {{ question.choice_2 }}</span>
                                        <span>3) {{ question.choice_3 }}</span>
                                        <span>4) {{ question.choice_4 }}</span>
                                    </div>
                                    <span>پاسخ تشریحی</span>
                                </div>
                                <div class="verbose-ans">
                                    <h3>پاسخ تشریحی</h3>
                                    <pre></pre>
                                    <button type="button" class="close">
                                        <svg class="bi bi-x" width="20px" height="20px" viewBox="0 0 16 16"
                                             fill="currentColor"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
                                                  clip-rule="evenodd"></path>
                                            <path fill-rule="evenodd"
                                                  d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                                                  clip-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <input type="submit" class="btn btn-blue" value="تایید سوال" data-toggle="modal"
                       data-target="#examInfo">
            </div>
        </div>
    </div>
{% endblock %}
