{% extends 'teacher/layouts/base_layout.html' %}
{% load static %}
{% load math_filter %}
{% block title %}بانک سوالات{% endblock %}
{% block change-sidebar %}close-sidebar{% endblock %}
{% block change-top-drive %}changeTopDrive{% endblock %}
{% block change-Page-Body %}max-width{% endblock %}
{% block remove-text %}removeText{% endblock %}
{% block remove-text1 %}removeText{% endblock %}
{% block remove-text2 %}removeText{% endblock %}
{% block remove-text3 %}removeText{% endblock %}
{% block remove-text4 %}removeText{% endblock %}
{% block remove-text5 %}removeText{% endblock %}
{% block no-padding-Page-Body %}no-padding-Page-Body{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.35.0/skin-bootstrap/ui.fancytree.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css">
{% endblock %}
{% block content %}
    <div class="modal fade" id="selectGrade" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg  modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">انتخاب موضوع سوال</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg class="bi bi-x" width="20px" height="20px" viewBox="0 0 16 16" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
                                  clip-rule="evenodd"></path>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div class="modal-body min-h-300">
                    <div class="row" style="min-height: 247px">
                        <div class="col-8">
                            <div class="fancy-tree-container text-right" id="grade-fancy-tree"></div>
                        </div>
                        <span class="vr-hr"></span>
                        <div class="col-4">
                            <div class="fancy-tree-selected text-right">
                                <div>انتخاب شده ها</div>
                                <div class="no-color" id="tags"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue" data-url="{% url 'teacher:saveGrades' %}">مرحله بعد
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-100 ">
        <div class="col-3 question-sidebar">
            <a href="#" class="btn btn-blue" data-toggle="modal" data-target="#selectGrade">
                {#                {% url 'teacher:newQuestion' %}#}
                <span>
                    <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
                          clip-rule="evenodd">
                    </path>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
                          clip-rule="evenodd">
                    </path>
                    </svg>
                <span>افزودن سوال</span>
                </span>
            </a>
            <a href="#" class="active">
                <i>
                    <svg class="bi bi-list-ul" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M5 11.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm-3 1a1 1 0 100-2 1 1 0 000 2zm0 4a1 1 0 100-2 1 1 0 000 2zm0 4a1 1 0 100-2 1 1 0 000 2z"
                              clip-rule="evenodd">
                        </path>
                    </svg>
                </i>
                <span>همه ی سوالات </span>
            </a>
            <a href="#">
                <i>
                    <svg class="bi bi-person-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM6 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0zm4.5 0a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13V5.5a.5.5 0 01.5-.5z"
                              clip-rule="evenodd"></path>
                        <path fill-rule="evenodd" d="M13 7.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z"
                              clip-rule="evenodd">
                        </path>
                    </svg>
                </i>
                <span>سوال های من </span>
            </a>
{#            <a href="#">#}
{#                <span>فیلتر ها</span>#}
{#            </a>#}
{#            <a href="#">#}
{#                <span>سوالات شما</span>#}
{#            </a>#}
            <a href="{% url 'teacher:new_exam' %}" class="sidebar-bottom-box">
                <div class="question-counter {% if selected_question|length %}question-counter-active{% endif %}"
                     data-url="{% url 'teacher:selectedQuestion' %}">
                    <h2>
                        <svg class="bi bi-check-box" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
                                  clip-rule="evenodd"></path>
                            <path fill-rule="evenodd"
                                  d="M1.5 13A1.5 1.5 0 003 14.5h10a1.5 1.5 0 001.5-1.5V8a.5.5 0 00-1 0v5a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V3a.5.5 0 01.5-.5h8a.5.5 0 000-1H3A1.5 1.5 0 001.5 3v10z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        سوالات انتخاب شده
                        <span class="counter-parent"
                              style="{% if selected_question|length %}display:inline-block {% endif %}">
                            (<span class="counter">{{ selected_question|length }}</span>)
                        </span>
                    </h2>
                </div>
            </a>
        </div>
        <div class="col-9 question-body">
            {#            <div class="row scrolled-header">#}
            {#                <div class="input-group mb-3">#}
            {#                    <input type="text" class="form-control fc1" placeholder=" جستجوی سوالات"#}
            {#                           aria-label="Username"#}
            {#                           aria-describedby="basic-addon1">#}
            {#                    <span class="ti-search"></span>#}
            {#                </div>#}
            {#            </div>#}
            <div class="question-page-body">
                <h1><span>همه ی سوالات</span> <span>({{ questions.count }})</span></h1>
                <div class="path">
                        <span>
                        <a href="{% url 'teacher:index' %}">
                            <svg class="bi bi-house-fill" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8 3.293l6 6V13.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z"
                                      clip-rule="evenodd"></path>
                                <path fill-rule="evenodd"
                                      d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </a>
                        <span>
                            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <a href="{% url 'teacher:questions' %}">بانک سوال</a>
                        <span>
                            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <a href="#">همه ی سوالات</a>
                        </span>
                </div>
                <div class="row header">
                    <span>نمایش</span>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span>10</span>
                            <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                            </svg>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span>ساده به سخت</span>
                            <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                            </svg>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control fc1" placeholder=" جستجوی سوالات"
                               aria-label="Username"
                               aria-describedby="basic-addon1">
                        <span class="ti-search"></span>
                    </div>
                </div>
                <div class="questions">
                    <div class="row questions-content">
                        {% for question in questions.list %}
                            <div class="card w-100" id="{{ question.pk }}">
                                <div class="card-body">
                                    <div class="question-type">
                                        <span>
                                            <span>پایه دهم</span>
                                            <span>
                                                <svg class="bi bi-chevron-left" width="1em" height="1em"
                                                     viewBox="0 0 16 16"
                                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                          d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                                                          clip-rule="evenodd"></path>
                                                </svg>
                                            </span>
                                            <span>بانک سوال</span>
                                            <span>
                                                <svg class="bi bi-chevron-left" width="1em" height="1em"
                                                     viewBox="0 0 16 16"
                                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                          d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                                                          clip-rule="evenodd"></path>
                                                </svg>
                                            </span>
                                            <span>همه ی سوالات</span>
                                        </span>
                                    </div>
                                    <div class="question-info">
                                        <div class="question-info-data">
                                                    <span class="question-level">
                                                        <svg class="bi bi-dot {% if question.level == "1" %}bi-dot-simple{% elif question.level == "2" %}bi-dot-middle{% elif question.level == "3" %}bi-dot-hard{% endif %}"
                                                             width="1em" height="1em"
                                                             viewBox="0 0 16 16" fill="currentColor"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd"
                                                                  d="M8 9.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                                                                  clip-rule="evenodd"></path>
                                                        </svg>
                                                        <span>
                                                            {% if question.level == "1" %}
                                                                ساده
                                                            {% elif question.level == "2" %}
                                                                متوسط
                                                            {% elif question.level == "3" %}
                                                                دشوار
                                                            {% endif %}
                                                        </span>
                                                    </span>
                                            <span>
                                                    <svg class="bi bi-pie-chart" width="1em" height="1em"
                                                         viewBox="0 0 16 16" fill="currentColor"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                              d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                                                              clip-rule="evenodd"></path>
                                                        <path fill-rule="evenodd"
                                                              d="M7.5 7.793V1h1v6.5H15v1H8.207l-4.853 4.854-.708-.708L7.5 7.793z"
                                                              clip-rule="evenodd"></path>
                                                    </svg>
                                                        </span>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <svg class="bi bi-three-dots" width="1em" height="1em"
                                                         viewBox="0 0 16 16" fill="currentColor"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                              d="M3 9.5a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3z"
                                                              clip-rule="evenodd"></path>
                                                    </svg>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="question-info-img">
                                            <img src="{% static 'main/img/'|add:question.source|add:'.png' %}"
                                                 alt="question source">
                                        </div>
                                        <span>98-99</span>
                                    </div>
                                    <div class="form-group form-check">
                                        <label class="form-check-label customBox"
                                               for="Check-{{ forloop.counter0 }}">
                                            <input type="checkbox" class="form-check-input"
                                                   id="Check-{{ forloop.counter0 }}"
                                                   {% if question.pk in selected_question %}checked{% endif %}>
                                            <span class="checkmark {% if question.pk in selected_question %}clicked{% endif %}"></span>
                                        </label>
                                    </div>
                                    <div class="question-text">

                                        {{ question.body|safe }}
                                    </div>
                                    <div class="question-inline-choices">
                                        <span {% if question.correct_ans == "1" %}class="selected-correct-choice"{% endif %}>
                                            {% if question.correct_ans == "1" %}
                                                <span class="inline-selected-correct-choice-tick"></span>
                                            {% endif %}
                                            1) {{ question.choice_1|safe }}
                                        </span>
                                        <span {% if question.correct_ans == "2" %}class="selected-correct-choice"{% endif %}>
                                            {% if question.correct_ans == "2" %}
                                                <span class="inline-selected-correct-choice-tick"></span>
                                            {% endif %}
                                            2) {{ question.choice_2|safe }}
                                        </span>
                                        <span {% if question.correct_ans == "3" %}class="selected-correct-choice"{% endif %}>
                                            {% if question.correct_ans == "3" %}
                                                <span class="inline-selected-correct-choice-tick"></span>
                                            {% endif %}
                                            3) {{ question.choice_3|safe }}
                                        </span>
                                        <span {% if question.correct_ans == "4" %}class="selected-correct-choice"{% endif %}>
                                            {% if question.correct_ans == "4" %}
                                                <span class="inline-selected-correct-choice-tick"></span>
                                            {% endif %}
                                            4) {{ question.choice_4|safe }}
                                        </span>
                                    </div>
                                    {% if question.verbose_ans %}
                                        <span>پاسخ تشریحی</span>
                                    {% endif %}
                                </div>
                                {% if question.verbose_ans %}
                                    <div class="verbose-ans">
                                        <h3>پاسخ تشریحی</h3>
                                        <pre>
                                            {{ question.verbose_ans|safe }}
                                        </pre>
                                        <button type="button" class="close">
                                            <svg class="bi bi-x" width="20px" height="20px" viewBox="0 0 16 16"
                                                 fill="currentColor"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
                                                      clip-rule="evenodd"></path>
                                                <path fill-rule="evenodd"
                                                      d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                                                      clip-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}

                        {#                    <div class="card w-100" id="2">#}
                        {#                        <div class="card-body">#}
                        {#                            <div class="form-group form-check">#}
                        {#                                <label class="form-check-label customBox" for="exampleCheck2">#}
                        {#                                    <input type="checkbox" class="form-check-input" id="exampleCheck2"#}
                        {#                                           name="remember_me">#}
                        {#                                    <span class="checkmark"></span>#}
                        {#                                </label>#}
                        {#                            </div>#}
                        {#                            <div class="question-text">#}
                        {#                                <p>در کدام گزینه غلط املایی دیده می شود#}
                        {#                                    ؟</p>#}
                        {#                                <span class="type">#}
                        {#                                    <svg class="bi bi-three-dots-vertical" width="1em" height="1em" viewBox="0 0 16 16"#}
                        {#                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">#}
                        {#                                            <path fill-rule="evenodd"#}
                        {#                                                  d="M9.5 13a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"#}
                        {#                                                  clip-rule="evenodd"/>#}
                        {#                                    </svg>#}
                        {#                                    <span>سراسری</span>#}
                        {#                                </span>#}
                        {#                            </div>#}
                        {#                            <div class="question-block-choices">#}
                        {#                                <div><span>1)</span><span class="question-texts"> سکندر آینه ، جمشید جاه و فرخ روز &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; فلک صریر و ملک خلق و آفتاب احسان</span>#}
                        {#                                </div>#}
                        {#                                <div><span>2)</span><span class="question-texts"> سکندر آینه ، جمشید جاه و فرخ روز &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; فلک صریر و ملک خلق و آفتاب احسان</span>#}
                        {#                                </div>#}
                        {#                                <div><span>3)</span><span class="question-texts"> سکندر آینه ، جمشید جاه و فرخ روز &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; فلک صریر و ملک خلق و آفتاب احسان</span>#}
                        {#                                </div>#}
                        {#                                <div class="selected-correct-choice"><span>4)</span><span#}
                        {#                                        class="block-selected-correct-choice-tick"></span><span class="question-texts "> سکندر آینه ، جمشید جاه و فرخ روز &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; فلک صریر و ملک خلق و آفتاب احسان</span>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                            <div class="question-level">#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                    </div>#}
                    </div>
                </div>
            </div>
            {% if questions.count|divide:10|length > 1 %}
                <div class="row w-100 pagination">
                    <div>
                        نمایش
                        <span class="start-question-number">1</span>
                        تا
                        <span class="end-question-number">10</span>
                        از
                        <span class="all-questions"> {{ questions.count }}</span>
                        سوال
                    </div>
                    <nav aria-label="Page navigation example" data-url="{% url 'teacher:filter_page' %}">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <i class="fas fa-angle-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            {% for count in  questions.count|divide:10 %}
                                {% if forloop.counter < 4 or forloop.last %}
                                    <li class="page-item {% if forloop.first %}active{% endif %}">
                                        <a class="page-link" href="#">
                                            <span>{{ count|add:1 }}</span>
                                        </a>
                                    </li>
                                {% elif forloop.counter == 4 %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">
                                            <span>...</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <i class="fas fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            {% endif %}
        </div>
        <div class="linear-activity">
            <div class="indeterminate"></div>
        </div>
    </div>
{% endblock %}
{% block questions-alert %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
    <script type="text/javascript">
        {% if messages %}
            {% for message in messages %}
                iziToast.warning({
                    class: 'customized-warning-izi-toast',
                    title: 'هشدار',
                    message: '{{ message }}',
                    position: 'bottomLeft',
                    onOpening: function () {
                        $(".customized-warning-izi-toast>.iziToast-body .iziToast-icon").removeClass("ico-warning");
                        $(".customized-warning-izi-toast>.iziToast-body .iziToast-icon").html("<div class=\"warning-alert-circle\">\n" +
                            "                    <svg class=\"bi bi-exclamation\" width=\"1em\" height=\"1em\" viewBox=\"0 0 16 16\" fill=\"currentColor\"\n" +
                            "                         xmlns=\"http://www.w3.org/2000/svg\">\n" +
                            "                        <path d=\"M7.002 11a1 1 0 112 0 1 1 0 01-2 0zM7.1 4.995a.905.905 0 111.8 0l-.35 3.507a.552.552 0 01-1.1 0L7.1 4.995z\"></path>\n" +
                            "                    </svg>\n" +
                            "                </div>");
                        $(".iziToast>.iziToast-close").html("<svg class=\"bi bi-x\" width=\"1em\" height=\"1em\" viewBox=\"0 0 16 16\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
                            "  <path fill-rule=\"evenodd\" d=\"M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z\" clip-rule=\"evenodd\"/>\n" +
                            "  <path fill-rule=\"evenodd\" d=\"M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z\" clip-rule=\"evenodd\"/>\n" +
                            "</svg>");
                    }
                });
            {% endfor %}
        {% endif %}
    </script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.35.0/jquery.fancytree-all-deps.min.js"
            type="text/javascript"></script>
    <script type="text/javascript">
        $('#selectGrade').on('show.bs.modal', function (event) {
            let close_svg = '<svg class="bi bi-x" width="15px" height="15px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                '  <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>\n' +
                '  <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>\n' +
                '</svg>';
            $("#tags").tagsInput({
                defaultText: "",
                interactive: true,
                onRemoveTag: function (data) {
                    $("#tags_tagsinput .tag a").html(close_svg);
                    $("#grade-fancy-tree").find(".fancytree-selected").each(function () {
                        if ($(this).find(".fancytree-title").text() === data) {

                        }
                    });
                },
                onAddTag: function (data) {
                    $("#tags_tagsinput .tag a").html(close_svg);
                }
            });

            let grade = "{\n" +
                "  \"پایه دهم\": [\n" +
                "    {\n" +
                "      \"زبان انگلیسی\": [\n" +
                "        {\n" +
                "          \"درس اول\": [\n" +
                "              \"لغات\"\n" +
                "          ]\n" +
                "        },\n" +
                "        {\n" +
                "          \"درس دوم\": [\n" +
                "              \"لغات\"\n" +
                "          ]\n" +
                "        }\n" +
                "      ]\n" +
                "    }\n" +
                "  ]\n" +
                "}";

            function _svg(className, addClass) {
                let html = '';
                switch (className) {
                    case "folder":
                        html = '<svg class="bi bi-folder" width="20px" height="20px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                            '  <path d="M9.828 4a3 3 0 01-2.12-.879l-.83-.828A1 1 0 006.173 2H2.5a1 1 0 00-1 .981L1.546 4h-1L.5 3a2 2 0 012-2h3.672a2 2 0 011.414.586l.828.828A2 2 0 009.828 3v1z"/>\n' +
                            '  <path fill-rule="evenodd" d="M13.81 4H2.19a1 1 0 00-.996 1.09l.637 7a1 1 0 00.995.91h10.348a1 1 0 00.995-.91l.637-7A1 1 0 0013.81 4zM2.19 3A2 2 0 00.198 5.181l.637 7A2 2 0 002.826 14h10.348a2 2 0 001.991-1.819l.637-7A2 2 0 0013.81 3H2.19z" clip-rule="evenodd"/>\n' +
                            '</svg>';
                        break;
                    case "folderOpen":
                        html = '<svg class="bi bi-folder-minus" width="20px" height="20px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                            '  <path fill-rule="evenodd" d="M9.828 4H2.19a1 1 0 00-.996 1.09l.637 7a1 1 0 00.995.91H9v1H2.826a2 2 0 01-1.991-1.819l-.637-7a1.99 1.99 0 01.342-1.31L.5 3a2 2 0 012-2h3.672a2 2 0 011.414.586l.828.828A2 2 0 009.828 3h3.982a2 2 0 011.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0013.81 4H9.828zm-2.95-1.707L7.587 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 011-.98h3.672a1 1 0 01.707.293z" clip-rule="evenodd"/>\n' +
                            '  <path fill-rule="evenodd" d="M11 11.5a.5.5 0 01.5-.5h4a.5.5 0 010 1h-4a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>\n' +
                            '</svg>';
                        break;
                    case "checkbox":
                        html = '<svg class="bi bi-square" width="20px" height="20px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                            '  <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"/>\n' +
                            '</svg>';
                        break;
                    case "checkboxSelected":
                        html = '<svg class="bi bi-check-square" width="20px" height="20px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                            '  <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>\n' +
                            '  <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>\n' +
                            '</svg>';
                        break;
                    case "checkboxUnknown":
                        html = '<svg class="bi bi-dash-square" width="20px" height="20px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                            '  <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"/>\n' +
                            '  <path fill-rule="evenodd" d="M3.5 8a.5.5 0 01.5-.5h8a.5.5 0 010 1H4a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>\n' +
                            '</svg>';
                        break;
                    case "expanderClosed":
                        html = '<svg class="bi bi-chevron-left" width="16px" height="16px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                            '  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>\n' +
                            '</svg>';
                        break;
                    case "expanderOpen":
                        html = '<svg class="bi bi-chevron-down" width="16px" height="16px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                            '  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"/>\n' +
                            '</svg>';
                        break;

                }
                return {html: html};
            }

            let tree = $("#grade-fancy-tree").fancytree({
                extensions: ["glyph"],
                checkbox: true,
                selectMode: 3,
                clickFolderMode: 2,
                rtl: true,
                source: [
                    {#{title: "پایه دهم", key: "1", folder: true, children: [{title: "ریاضی2", key: "3"},{title: "دین و زندگی", key: "4"}]}#}
                    {{ grade|safe }}
                ],
                lazyLoad: function (event, data) {
                    data.result = {url: "https://cdn.rawgit.com/mar10/fancytree/72e03685/demo/ajax-sub2.json"};
                },
                activate: function (event, data) {

                },
                select: function (event, data) {
                    if (data.node.isSelected()) {
                        if (data.node.isFolder()) {
                            console.log("folder: " + data.children.title);
                        } else {
                            $('#tags').addTag(data.node.title);
                        }
                    } else {
                        $('#tags').removeTag(data.node.title);
                    }
                },
                glyph: {
                    preset: "awesome5",
                    map: {
                        {#_addClass: "",#}
                        checkbox: _svg("checkbox"),
                        checkboxSelected: _svg("checkboxSelected"),
                        checkboxUnknown: _svg("checkboxUnknown"),
                        {#radio: "fas fa-circle",#}
                        {#radioSelected: "fas fa-circle",#}
                        {#radioUnknown: "fas fa-dot-circle",#}
                        {#dragHelper: "fas fa-arrow-right",#}
                        {#dropMarker: "fas fa-long-arrow-right",#}
                        {#error: "fas fa-exclamation-triangle",#}
                        expanderClosed: _svg("expanderClosed"),
                        {#expanderLazy: "fas fa-angle-right",#}
                        expanderOpen: _svg("expanderOpen"),
                        {#loading: "fas fa-spinner fa-pulse",#}
                        {#nodata: "fas fa-meh",#}
                        {#noExpander: "",#}
                        {#// Default node icons.#}
                        {#// (Use tree.options.icon callback to define custom icons based on node data)#}
                        {#doc: "fas fa-screwdriver",#}
                        {#docOpen: "fas fa-screwdriver",#}
                        folder: _svg("folder"),
                        folderOpen: _svg("folderOpen")
                    }
                },
            });

        });
    </script>
{% endblock %}

