{% extends 'teacher/layouts/base_layout.html' %}
{% load static %}
{% load custom_filter %}

{% block title %}گزارش ها{% endblock %}

{% block pageBody-add__on-class %}no-padding overflow-hidden{% endblock %}

{% block content %}
    <div class="sidder__list-view">
        <div class="row h-100">
            <div class="col-md-4 no-padding">
                <div class="sider-list">
                    <div class="list-group-header">
                        <div class="search-box">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                                    </svg>
                                </span>
                                </div>
                                <input type="text" class="form-control prepend-input" placeholder="جستجو"
                                    aria-label="جستجو"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="list-group overflow-auto" dir="rtl" data-url="{% url 'teacher:display_report' %}" id="reportList" dir="rtl">
                        {% for report in reports %}
                            <a href="#" class="list-group-item list-group-item-action text-right" id="{{ report.id }}">
                                <div class="d-flex w-100 justify-content-between text-right">
                                    <div class="d-flex"></div>
                                    <small>
                                        {% if report in attached_reports %}
                                            <svg class="bi bi-paperclip" width="1em" height="1em" viewBox="0 0 16 16"
                                                fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"></path>
                                            </svg>
                                        {% endif %}
                                        {{ report.get_time_diff }}
                                    </small>
                                </div>
                                <strong class="mb-1">{{ report.title }}</strong>
                                <p class="mb-1 text-justify" dir="rtl">{{ report.text|slice:100 }}...</p>
                                <small></small>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-8 no-padding">
                <div class="item-preview">
                    <div class="text-center item-preview__header">
                        <button type="button" class="btn btn-circle" id="prevReport">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        </button>
                        <span id="reportCount"></span>
                        /
                        <span id="allReports"></span>
                        <button type="button" class="btn btn-circle" id="nextReport">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="row p-h-2__5 p-v-0__75 overflow-auto">
                        <div class="col-12">
                            <div class="row mb-5">
                                <div class="col-8 pr-0 text-right">
                                    <img src="" alt="" width="60px" id="userAvatar">
                                    <span class="mb-1" id="writerName"></span>
                                </div>
                                <div class="col-4 pl-0">
                                    <small id="createdTime"></small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="mb-4 text-right" id="reportTitle"></h5>
                                    <pre class="mb-1 w-100" id="reportBody"></pre>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <ul class="list-group list-group-horizontal pr-0" id="attachedList" dir="ltr"></ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <form method="post" action="{% url 'teacher:reply_report' %}" id="report-reply-form-ajax">
                                {% csrf_token %}
                                <label>
                                    <input type="text" value="" name="pk" hidden>
                                </label>
                                <div class="form-group">
                                    <label for="reportReply"></label>
                                    <textarea class="form-control overflow-hidden" id="reportReply" rows="3"
                                            placeholder="متن پیام" name="text"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-right pr-0">
                                        <button type="button" class="btn btn-circle" data-toggle="modal"
                                                data-target="#staticBackdrop">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paperclip"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="col-6 pl-0">
                                        <button type="submit" class="btn btn-blue">
                                            <span>ارسال</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        <div class="col-12" id="replyList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <div class="row">
        <div class="col-3">
            {% for report in reports %}
                <div class="card">
                    <div class="card-body">
                        {{ report.id }}
                        <img src="{{ report.get_teacher_avatar }}" alt="{{ report.teacher.get_full_name }}-profile"
                             width="100px">
                        {% if report|has_attachment:"report" %}
                            <svg class="bi bi-paperclip" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"></path>
                            </svg>
                        {% endif %}
                        <br>
                        {{ report.get_time_diff }}<br>
                        {{ report.teacher.get_full_name }}<br>
                        {{ report.text|slice:100 }}...
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-9">
            <form method="post" action="{% url 'manager:reply_report' %}">
                {% csrf_token %}
                <input type="text" value="2" name="pk" hidden>
                <div class="form-group">
                    <label for="reportReply"></label>
                    <textarea class="form-control" id="reportReply" rows="3"
                              placeholder="متن پیام" name="text"></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control-file" type="file" name="attachment">
                </div>
                <button type="submit" class="btn btn-blue">
                    <svg class="bi bi-cursor" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"></path>
                    </svg>
                    <span>ارسال پیام</span>
                </button>
            </form>
        </div>
    </div> {% endcomment %}
{% endblock %}