{% extends 'manager/layouts/base_layout.html' %}
{% block title %}کاربران{% endblock %}


{% block modal %}
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">افزودن کاربر</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'manager:add_user' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">نام</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" name="first_name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">نام خانوادگی</label>
                            <input type="text" class="form-control" id="exampleInputEmail2" name="last_name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail3">ایمیل</label>
                            <input type="email" class="form-control" id="exampleInputEmail3" name="email">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">نوع کاربری</label>
                            <select class="form-control" id="exampleFormControlSelect1" name="user_type">
                                <option value="student">دانش آموز</option>
                                <option value="teacher">دبیر</option>
                                <option value="manager">مدیر</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail4">شماره تلفن</label>
                            <input type="number" class="form-control" id="exampleInputEmail4" name="phone_number">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">افزودن</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="userInfo" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
         aria-labelledby="userInfoLabel" aria-hidden="true" data-url="{% url 'manager:user_info' %}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" dir="rtl">
                    <h5 class="modal-title" id="userInfoLabel">ویرایش اطلاعات کاربر</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg class="bi bi-x" width="20px" height="20px" viewBox="0 0 16 16" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
                                  clip-rule="evenodd"></path>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div class="modal-body text-right">
                    <form action="{% url 'manager:edit_user_info' %}" id="edit_user_info_ajax_form" method="POST">
                        {% csrf_token %}
                        <label>
                            <input type="text" name="pk" hidden>
                        </label>
                        {% comment %} <div class="row">
                            <div class="col-12">
                                <div class="chart-container">
                                    <canvas id="chart"></canvas>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="firstName">نام</label>
                                    <input type="text" class="form-control" id="firstName" name="first_name">
                                </div>
                                <div class="form-group">
                                    <label for="lastName">نام خانوادگی</label>
                                    <input type="text" class="form-control" id="lastName" name="last_name">
                                </div>
                                <div class="form-group">
                                    <label for="emailAddress">ایمیل</label>
                                    <input type="email" class="form-control" id="emailAddress" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="usageType">نوع کاربری</label>
                                    <select class="form-control" id="usageType" name="user_type" disabled>
                                        <option value="student">دانش آموز</option>
                                        <option value="teacher">دبیر</option>
                                        <option value="manager">مدیر</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="phoneNum">شماره تلفن</label>
                                    <input type="number" class="form-control" id="phoneNum" name="phone_number">
                                </div>
                                <div class="form-group">
                                    <label for="userStatus">وضعیت</label>
                                    <select class="form-control" name="status" id="userStatus">
                                        <option value="Active">فعال</option>
                                        <option value="Check">در حال بررسی</option>
                                        <option value="Suspend">مسدود</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                            <button type="submit" class="btn btn-primary">ثبت تغییرات</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block side_nav %}
    <div class="side-nav" id="createUser">
        <div class="side-nav__dialog">
            <div class="side-nav__content">
                <div class="side-nav__header" dir="rtl">
                    <h4 class="side-nav__title " id="userInfoLabel">کاربر جدید</h4>
                </div>
                <div class="side-nav__body text-right">
                    <div class="form-group">
                        <label for="exampleInputEmail1">نام</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="first_name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">نام خانوادگی</label>
                        <input type="text" class="form-control" id="exampleInputEmail2" name="last_name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">ایمیل</label>
                        <input type="email" class="form-control" id="exampleInputEmail3" name="email">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">نوع کاربری</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="user_type">
                            <option value="student">دانش آموز</option>
                            <option value="teacher">دبیر</option>
                            <option value="manager">مدیر</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail4">شماره تلفن</label>
                        <input type="number" class="form-control" id="exampleInputEmail4" name="phone_number">
                    </div>
                </div>
                <div class="side-nav__footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="side-nav">بستن</button>
                    <button type="submit" class="btn btn-blue">افزودن</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <h1>کاربران</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'manager:index' %}">
                    <svg class="bi bi-house-fill" width="1em" height="1em" viewBox="0 0 16 16"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M8 3.293l6 6V13.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z"
                              clip-rule="evenodd"></path>
                        <path fill-rule="evenodd"
                              d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">کاربران</li>
        </ol>
    </nav>
    <div class="clearfix w-100 mb-4">
                <span class="float-right">
                    <span>نمایش</span>
                    <select class="num-questions-showed">
                        <option value="10">10</option>
                        <option value="5">5</option>
                        <option value="1">1</option>
                    </select>
                </span>
        <span class="float-left">
                    <div class="plus-question" data-toggle="side-nav" data-target="#createUser">
                        <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"></path>
                            <path fill-rule="evenodd"
                                  d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"></path>
                        </svg>
                    </div>
                </span>
        <span class="float-left">
                    <div class="input-group white-bg mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"></path>
                                <path fill-rule="evenodd"
                                      d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path>
                            </svg>
                            <div class="spinner-border d-none" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </span>
                        </div>
                        <input type="text" class="form-control prepend-input" placeholder="جستجو"
                               aria-label="جستجو"
                               aria-describedby="basic-addon1" id="navSearch"
                               data-url="{% url 'manager:user_search' %}">
                    </div>
                </span>
    </div>

    {% comment %} <div class="row">
        <div class="col-5 text-left">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                </svg>
            </button>
            <form class="form-inline my-2 my-lg-0 float-right">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="col-7 text-right">
            
        </div>
    </div> {% endcomment %}

    <div class="row">
        <div class="col-12">
            <div class="row">
                {% for user in users %}
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                        <div class="card card-out_img-two_color text-center">
                            <img src="{{ user.avatar }}" class="card-img-top" alt="{{ user.full_name }}">
                            <h5 class="font-weight-bold mt-4 mb-2">{{ user.full_name }}</h5>
                            <span class="card-tag-blue mb-3">{{ user.type }}</span>
                            <div class="dropdown card-options">
                                <button class="dropdown-toggle" type="button" id="userOption{{ user.pk }}"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                                    </svg>
                                </button>
                                <div class="dropdown-menu text-right" aria-labelledby="userOption{{ user.pk }}">
                                    <button class="dropdown-item" type="button" data-toggle="modal"
                                            data-target="#userInfo" value="{{ user.pk }}">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"></path>
                                            <path fill-rule="evenodd"
                                                  d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"></path>
                                        </svg>
                                        ویرایش
                                    </button>
                                    <a href="{% url 'manager:user_detail' user.user_name %}" class="dropdown-item">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                                        </svg>
                                        بیشتر
                                    </a>
                                    <button class="dropdown-item" type="button">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                            <path fill-rule="evenodd"
                                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                        </svg>
                                        حذف
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <ul class="list-group user-details pr-0 mt-2 mb-2">
                                    <li class="list-group-item">
                                <span class="detail-label float-right">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"></path>
                                    </svg>
                                    رایانامه:
                                </span>
                                        <a href="mailto:{{ user.email }}" class="float-left">{{ user.email }}</a>
                                    </li>
                                    <li class="list-group-item">
                                <span class="detail-label float-right">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M3.925 1.745a.636.636 0 0 0-.951-.059l-.97.97c-.453.453-.62 1.095-.421 1.658A16.47 16.47 0 0 0 5.49 10.51a16.471 16.471 0 0 0 6.196 3.907c.563.198 1.205.032 1.658-.421l.97-.97a.636.636 0 0 0-.06-.951l-2.162-1.682a.636.636 0 0 0-.544-.115l-2.052.513a1.636 1.636 0 0 1-1.554-.43L5.64 8.058a1.636 1.636 0 0 1-.43-1.554l.513-2.052a.636.636 0 0 0-.115-.544L3.925 1.745zM2.267.98a1.636 1.636 0 0 1 2.448.153l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                                    </svg>
                                    تلفن:
                                </span>
                                        <a href="tel:{{ user.phone_number }}"
                                           class="float-left">{{ user.phone_number }}</a>
                                    </li>
                                </ul>
                                {% comment %} <div class="row">
                            <div class="col-6 text-left">
                                <small class="{% if user.status == 'Active' %}text-success{% elif user.status == 'Check' %}text-warning{% elif user.status == 'Suspend' %}text-danger{% endif %}">{{ user.status }}</small>
                            </div>
                        </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}