{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Dashboard {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="topDrive">
    <div class="dropdown firstDropdown">
        <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            <img src="{{ user.avatar }}" class="userImg">
            <span class="fullName">{{ user.full_name }}</span>
        </span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <ul>
                <li><a href="#">تنظیمات کاربری</a></li>
                <li><a href="{% url 'index' %}">خروج</a></li>
            </ul>
        </div>
    </div>
    <span class="spanBorder"></span>
    <div class="dropdown bellEnvelope">
        <span class=" dropdown-toggle noTriangle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
                        <i class='far fa-bell {% if  user.has_message %}new{% endif %} '></i></span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        </div>
    </div>

    <div class="dropdown bellEnvelope">
        <span class="dropdown-toggle noTriangle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
                        <i class='far fa-envelope {% if  user.has_message %}new1{% endif %} '></i></span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        </div>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control fc1" placeholder="جستجو" aria-label="Username"
               aria-describedby="basic-addon1">
        <span class="ti-search"></span>
    </div>
    <i class="fas fa-sliders-h"></i>
</div>
<div class="sidebar">
    <ul>
        {% url 'student:index' as index %}
        <a href="{% url 'student:index' %}" class="{% if request.path == index %}
        closed-sidebar
        {% endif %}"><li><span class="ti-view-grid"></span><span>داشبورد</span></li></a>
        <a href="#"><li><span class="ti-blackboard"></span><span>کلاس ها</span></li></a>
        {% url 'student:exam' as exam %}
        <a href="{% url 'student:exam' %}" class="{% if request.path == exam %}
        closed-sidebar
        {% endif %}"><li><i class="far fa-check-square"></i><span>آزمون ها</span></li></a>
        <a href="#"><li><span class="ti-comments"></span><span>گفتگو </span></li></a>
        <a href="#"><li><i class="far fa-calendar"></i><span>برنامه درسی</span></li></a>
    </ul>
</div>
<div class="pageBody">
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>