body {
    background-color: #15232E;
    color: #ffffff;
}

div.radio-group {
    background-color: #1F2935;
}

.form-check > input[type="radio"] + label {
    color: #1F2935;
}

.form-check > input[type="radio"]:checked + label {
    background-color: #007BFF;
    color: #1F2935;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}

.form-check > input[type="radio"] + label:after {
    background-color: #B0BBC630;
}

.form-control:focus {
    color: #495057;
    background-color: #1F2935;
}

.iconInput {
    color: #343A4090;
}

.btn-blue {
    color: #ffffff;
    background-color: #0037FA;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}

.btn-blue:hover {
    color: #1F2935;
    box-shadow: 0 2px 8px 0 #007BFF90;
}

.btn-blue:focus {
    color: #1F2935;
    box-shadow: 0 2px 8px 0 #007BFF90;
}

.btn-green {
    color: #1F2935;
    background-color: #28A745;
    box-shadow: 0 5px 10px #28A74516, 0 15px 40px #28A74516;
}

.btn-green:hover {
    color: #1F2935;
    box-shadow: 0 2px 8px 0 #28A74590;
}

.btn-green:focus {
    color: #1F2935;
    box-shadow: 0 2px 8px 0 #28A74590;
}

.btn-red {
    color: #1F2935;
    background-color: #DC3545;
    box-shadow: 0 5px 10px #DC354516, 0 15px 40px #DC354516;
}

.btn-red:hover {
    color: #1F2935;
    box-shadow: 0 2px 8px 0 #DC354590;
}

.btn-red:focus {
    color: #1F2935;
    box-shadow: 0 2px 8px 0 #DC354590;
}

.btn-yellow {
    color: #272529;
    background-color: #FFC107;
    box-shadow: 0 5px 10px #FFC10716, 0 15px 40px #FFC10716;
}

.btn-yellow:hover {
    color: #272529;
    box-shadow: 0 2px 8px 0 #FFC10790;
}

.btn-yellow:focus {
    color: #272529;
    box-shadow: 0 2px 8px 0 #FFC10790;
}

.btn-link {
    color: #007BFF;
}

.btn-link:hover {
    color: #007BFF;
}

.btn-link:focus {
    color: #007BFF;
}

.checkmark {
    background-color: #8697A830;
}

.customBox:hover input ~ .checkmark {
    background-color: #007BFF40;
}

.customBox input:checked ~ .checkmark {
    background-color: #007BFF;
}

.customBox .checkmark:after {
    border: solid white;
}

.card1 {
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}

.card-header {
    background-color: #1F2935;
}

.card-body {
    background-color: #15232E;
}

#cb-bottom {
    background-color: rgba(0, 0, 0, .03);
}

.bg-transparent {
    background-color: #15232E !important;
}

h1 {
    color: #ffffff;
}

.recoverAnchor {
    color: #007BFF;
}

.recoverAnchor:hover {
    color: #007BFF;
}

.Anchor:hover {
    color: #007BFF;
}

.card2 {
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}

.topDrive {
    border-bottom: 1px solid #333E4C;
    background-color: #1F2935;
    color: #8697A8;
}

/*sidebar classes*/
.sidebar {
    border-left: 1px solid #333E4C;
    background-color: #1F2935;
}

.sidebar a {
    color: #737781;
}

.sidebar a span {
    color: #ffffff;
}

.sidebar a.active {
    color: #ffffff;
    background-color: #15232E;
}

.sidebar a.active:after {
    border-right: 5px solid #0081FF;

}

.sidebar a:hover {
    color: #ffffff;
    background-color: #15232E;
}

.sidebar a:focus {
    color: #343A40 !important;
}

.topDrive > .input-group > input[type="text"] {
    background-color: #15232E;
}

.fa-envelope {
    color: #8697A8 !important;
}

.fa-bell {
    color: #8697A8 !important;
}

.event {
    background-color: #FF3D57;
}

.event:after {
    background-color: #FF3D5770;
}

.spanBorder:after {
    background-color: #B0BBC630;
}

.topDrive > .firstDropdown > .dropdown-menu > ul > li > a {
    color: #1F2935;
}

.topDrive > .firstDropdown > .dropdown-menu > ul > li > a:hover {
    color: #343A40 !important;
}

.topDrive > .firstDropdown > .dropdown-menu > ul > li > a:focus {
    color: #343A40 !important;
}

.top-row {
    border-bottom: 1px solid #8697A8;
}

.bottom-row .card-body {
    background-color: #1F2935 !important;
}

.pack {
    background-color: #15232E;
}

.pack tr span {
    background-color: #1F2935;
    border: 1px solid #8697A850;
}

.true-choice {
    border-color: #0ACF83 !important;
}

.true-choice:after {
    border: solid #0ACF83;
}

.false-choice {
    border-color: #FF3D57 !important;
}

.false-choice:before {
    border: solid #FF3D57;
}

.false-choice:after {
    border: solid #FF3D57;
}

.filled-choice {
    background-color: #000000 !important;
}

.question-sidebar {
    border-left: 1px solid #333E4C;
    background-color: #1F2935;
}

.question-sidebar .btn-blue {
    color: #1F2935;
}

.question-sidebar a {
    color: #8697A8;
}

.question-sidebar a.active:before {
    background-color: #0081FF;
}

.question-sidebar a.active {
    background-color: #15232E;
    color: #ffffff;
}

.question-page-body .input-group,
.manage-exam .input-group {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.path span {
    color: #737781 !important;
}

.path span a {
    color: #737781;
}

.question-page-body > .path span a:last-child {
    color: #343A40 !important;
}

.question-body:hover::-webkit-scrollbar-thumb,
.next-question-body:hover::-webkit-scrollbar-thumb,
.manage-exam:hover::-webkit-scrollbar-thumb,
#ERun:hover::-webkit-scrollbar-thumb {
    background: #0081FF;
}

.top-icons span {
    background-color: #8697A820;
}

.make-exam-bottom-row .card-body {
    background-color: #1F2935 !important;
}

#question-textarea {
    background-color: #15232E !important;
}

.change-btns {
    background-color: #15232E !important;
}

.change-btns .btn {
    color: #ffffff;
}


#complete-ans {
    background-color: #15232E;
}

.tick {
    background-color: #15232E;
}


.custom-input input:checked ~ .tick {
    background-color: #0081FF !important;
}

.custom-input .tick:after {
    border: solid white;
}

.state .form-control {
    background-color: #15232E;
}

form label {
    color: #737781 !important;
}

div.tagsinput {
    background-color: #15232E;
}

div.tagsinput span.tag {
    background: #333E4C;
    color: #1F2935;
}

div.tagsinput span.tag a {
    color: #1F2935;
}

.slider {
    background-color: #15232E;
}

.slider:before {
    background-color: white;
}

input:checked + .slider {
    background-color: #0081FF;
}

.toggle-switch > span {
    color: #8697A8 !important;
}

.custom-control-label::before {
    background-color: #333E4B;
    border: #333E4B solid 1px;
}

.custom-switch .custom-control-label::after {
    background-color: #ffffff;
}

.dispensing-btn {
    background-color: #1F2935 !important;
    color: #ffffff !important;
    border: 1px solid #333E4C;
}

.warning {
    color: #FF3D57;
}

.choice-warning {
    color: #FF3D57;
}

.left-choice-warning {
    color: #FF3D57;
}

.dispensing {
    border: 1px solid #1BBDFE;
    background-color: #15232E;
}

.loader {
    border: 3px solid #1BBDFE;
    border-left-color: #15232E;
}

.updating span {
    color: #1BBDFE;
}

.saved span:first-child {
    color: #1BBDFE;
}

.saved > span:last-child {
    color: #1BBDFE;
}

#carouselQuestionControls .carousel-control-next,
#carouselQuestionControls .carousel-control-prev {
    color: #fff;
}

.modal-backdrop {
    background-color: #8697A8 !important;
}

.yellow-circle {
    background-color: #FFD700;
}

.yellow-circle svg {
    color: #1F2935;
}

.alert-modal .modal-footer .btn {
    background-color: #15232E;
}

.alert-modal .modal-footer button {
    color: #8697A8;
}

.ql-snow .ql-picker.ql-font {
    color: #8697A8;
}

.ql-toolbar.ql-snow {
    border-bottom: 1px solid #8697A820 !important;
}

.ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-picker.ql-expanded .ql-picker-label, .ql-snow.ql-toolbar .ql-picker-label:hover {
    color: #8697A8 !important;
}

.card {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.ql-toolbar.ql-snow .ql-formats {
    border-left: 1px solid #8697A820;
}

.ql-snow .ql-toolbar.snow, .ql-snow .ql-stroke {
    stroke: #8697A8;
}

.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: #8697A8;
}

.scrolled-header .form-control {
    background-color: #15232E;
}


.question-page-selects {
    color: #8697A8;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.question-page-selects:focus,
.question-page-selects:hover {
    color: #1F2935;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.type {
    color: #8697A8;
}

.selected-correct-choice {
    color: #0081FF;
}

.inline-selected-correct-choice-tick {
    padding-left: 15px;
}

.alert-circle {
    background-color: #343A40;
}

.iziToast > .iziToast-close {
    color: #44566C;
    background: #E9ECEF none;
}

.iziToast > .iziToast-close:hover {
    color: #1F2935;
    background-color: #FF3D57;
    box-shadow: 0 0 5px 0 #FF3D5790;
}

.warning-alert-circle {
    background-color: #FF3D57;
}

.warning-alert-circle svg {
    color: #1F2935;
}

.iziToast > .iziToast-body .iziToast-title {
    color: #FF3D57;
}

.customized-warning-izi-toast,
.customized-success-izi-toast,
.customized-info-izi-toast {
    background-color: #1F2935 !important;
}

.customized-warning-izi-toast-small,
.customized-success-izi-toast-small,
.customized-info-izi-toast-small {
    background-color: #1F2935 !important;
}

.customized-warning-izi-toast:after,
.customized-success-izi-toast:after,
.customized-info-izi-toast:after {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.customized-warning-izi-toast-small:after,
.customized-success-izi-toast-small:after,
.customized-info-izi-toast-small:after {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.customized-warning-izi-toast:before,
.customized-warning-izi-toast-small:before {
    background-color: #FF3D57;
}

.customized-success-izi-toast:before,
.customized-success-izi-toast-small:before {
    background-color: #2BDE3F;
}

.success-alert-circle {
    background-color: #2BDE3F;
}

.success-alert-circle svg {
    color: #1F2935;
}

.customized-info-izi-toast:before,
.customized-info-izi-toast-small:before {
    background-color: #FFC007;
}

.info-alert-circle {
    background-color: #FFC007;
}

.info-alert-circle svg {
    color: #1F2935;
}

.question-counter {
    background-color: #15232E;
    color: #1BBDFE;
}

.fr-element {
    color: #ffffff !important;
}

.fr-box.fr-basic .fr-wrapper {
    background-color: #15232E;
}

.modal-header .modal-title {
    color: #ffffff;
}

.modal-header .close {
    color: #44566C;
    background-color: #E9ECEF;
}

.modal-header .close:hover, .modal-header .close:focus {
    color: #1F2935;
    background-color: #FF3D57;
    box-shadow: 0 0 5px 0 #FF3D5790;
}

span.vr-hr:after {
    background-color: #8697A8;
}

.scrolled-header {
    background-color: #1F2935;
    border-bottom: 1px solid #8697A8;
}

.sub-scrolled-header {
    background-color: #1F2935;
    border-bottom: 1px solid #8697A8;
}

.fancy-tree-selected div.tagsinput span.tag {
    background-color: #15232E;
    color: #44566C;
}

.fancy-tree-selected div.tagsinput span.tag a {
    color: #44566C;
}

.question-type span {
    color: #8697A8;
}

.question-type > span > span:last-child {
    color: #1F2935;
}

.question-info-img {
    background-color: #15232E;
}

.bi-pie-chart:hover {
    color: #0081FF;
}

.bi-dot-hard {
    color: #FF3D57;
}

.bi-dot-simple {
    color: #2BDE3F;
}

.bi-dot-middle {
    color: #FFD700;
}

.questions .card-body > span {
    color: #0081FF;
}

.verbose-ans {
    border-top: 1px solid #8697A8;
    background-color: #15232E;
}

.verbose-ans .close {
    color: #44566C;
    background-color: #E9ECEF;
}

.card-body .close {
    color: #44566C;
    background-color: #E9ECEF;
}

.verbose-ans .close:focus,
.card-body .close:focus,
.verbose-ans .close:hover,
.card-body .close:hover {
    color: #1F2935;
    background-color: #FF3D57;
    box-shadow: 0 0 5px 0 #FF3D5790;
}

.question-info .dropdown .btn {
    color: #44566C;
    background-color: #1F2935;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    color: #44566C;
    background-color: #1F2935;
}

div.pagination > div:first-child {
    color: #8697A8;
}

div.pagination li:last-child {
    border-left: 1px solid #8697A820;
}

div.pagination li:first-child {
    border-right: 1px solid #8697A820;
}

div.pagination li {
    background-color: #1F2935;
}

ul.pagination {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2)
}

.page-link {
    background-color: #1F2935;
    color: #44566C;
}


.page-item.disabled .page-link {
    color: #6c757d;
}


.page-link:hover {
    color: #1F2935;
    background-color: #0081FF;
    border-color: #1F2935;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}

.page-item:first-child:hover,
.page-item:last-child:hover {
    color: #1F2935;
    background-color: #0081FF;
    border-color: #1F2935;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}


.page-item.disabled:first-child:hover, .page-item.disabled:last-child:hover {
    background-color: #E9ECEF;
}

.header .dropdown-toggle {
    color: #44566C;
    background-color: #1F2935;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.header .dropdown-toggle:focus {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2) !important;
}


.header > span {
    color: #8697A8;
}

.modal input[type='text'] {
    background-color: #15232E;
}

#examInfo h4 {
    color: #8697A8;
}

#examInfo input[type='number'] {
    background-color: #15232E;
}


#examInfo #examExplanation {
    background-color: #15232E;
}

.trash div:hover {
    background-color: #15232E;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.trash svg {
    color: #1F2935;
}

.trash div:hover svg {
    color: #FF3D57;
}

.trash div,
.arrow-down-up {
    background-color: #333E4C;
}

.arrow-down-up:hover {
    background-color: #15232E;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.arrow-down-up:hover svg {
    color: #0081FF;
}

.plus-question {
    background-color: #0081FF;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}

.plus-question:hover,
.plus-question:focus {
    box-shadow: 0 2px 8px 0 #007BFF90;
}

.plus-question svg {
    color: #1F2935;
}

.filter-question {
    background-color: #0081FF;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}

.filter-question:hover,
.filter-question:focus {
    box-shadow: 0 2px 8px 0 #007BFF90;
}

.filter-question svg {
    color: #1F2935;
}

.next-question-page-body .header .input-group {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.linear-activity {
    background-color: #B3E5FC;
}

.determinate {
    background-color: #03A9F4;
}

.indeterminate:before {
    background-color: #03A9F4;
}

.indeterminate:after {
    background-color: #4FC3F7;
}

.loading-background {
    background-color: #15232E;
}

.tool {
    color: #1F2935;
}

.packs > .card:first-child {
    background-color: #15232E;
}

.manage-buttons div,
.manage-buttons a {
    background-color: #333E4C;
    color: #1F2935;
}

.manage-buttons div:hover,
.manage-buttons div:focus {
    color: #1F2935;
    background-color: #FF3D57;
    box-shadow: 0 0 5px 0 #FF3D5790;
}

.manage-exam-info > span:last-child .bi.done {
    color: #09B66D;
}

.manage-exam-info > span:last-child .bi.loading {
    color: #FFD700;
}

.manage-exam-info > span:last-child .bi.pre-loading {
    color: #0081FF;
}

.sidebar-modal.modal-body .modal-side-bar {
    background-color: #15232E;
}

.sidebar-modal.modal-body .modal-side-bar .side-bar-profile label img {
    box-shadow: 0 10px 10px #007BFF16, 0 5px 5px #007BFF16;
}

.sidebar-modal.modal-body .modal-side-bar .side-bar-profile label img:after {
    background-color: #808D9C;
}

.dropdown-menu[aria-labelledby="filterDropdown"] {
    box-shadow: 0 0 60px rgba(14, 42, 71, .25);
}

.dropdown-menu[aria-labelledby="filterDropdown"]:after {
    border-bottom: 10px solid #1F2935;
}

.ripple {
    background-color: #1F2935;
}

.manage-exam-info > .btn {
    color: #ffffff;
}

#manage-examInfo #collapseThree .card-body {
    background-color: #15232E;
}

.num-questions-showed {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.num-questions-showed option:hover {
    background-color: #15232E;
}

#selectDestination .modal-body .card:hover {
    box-shadow: 0 0 10px 3px rgba(183, 192, 206, .2);
}

#selectDestination .modal-body .card i {
    color: #8697A8;
}

#selectDestination .modal-body .card:hover i {
    color: #1F2935;
}

#selectDestination .modal-body .card-body .card-text:last-child {
    color: #8697A8;
}

#selectDestination .modal-body .card:hover .card-body .card-text:last-child {
    color: #1F2935;
}

#start_exam_form_ajax label {
    color: #343A40 !important;
}

.manage-exam > .path > a {
    color: #1F2935;
}

#manage-examInfo > #headingThree.ran:after {
    border-color: #2BDE3F;
}

#manage-examInfo > #headingThree.running:after {
    border-color: #DC3545;
}

#manage-examInfo > #headingThree.not-run:after {
    border-color: #FFC007;
}

.new-choice__container {
    border: 1px dashed #333E4C;
    color: #737781;
}

.new-choice__container:hover {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #15232E;
}

.table {
    color: #ffffff;
}

.card-list-group .card-list__content .card-list__item {
    background-color: #1F2935;
}

.input-group.white-bg input[type="text"].form-control, .input-group.white-bg input[type="password"].form-control, .input-group.white-bg select.custom-select, .input-group.white-bg select.form-control {
    background-color: #1F2935;
}

.card {
    background-color: #1F2935;
}

.input-group.white-bg, select.white-bg,
.input-group.white-bg .input-group-text{
    background-color: #1F2935;
}

input[type="text"].form-control, input[type="email"].form-control, input[type="number"].form-control, input[type="password"].form-control, select.custom-select, select.form-control, textarea.form-control {
    color: #8697A8;
}

.modal-content {
    background-color: #1F2935;
    color: #8697A8;
}