@font-face {
    font-family: IRANSans;
    src: url("../fonts/IRANSans(FaNum).ttf") format("truetype");
}

body {
    background-color: #F8FAFB;
    font-family: IRANSans !important;
}

div.radio-group {
    float: right;
    direction: rtl;
    width: fit-content;
    height: fit-content;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.radio-group > .form-check > input {
    display: none;
}

.form-check {
    float: right;
    padding-left: 0;
    display: inline-flex;
    margin: 5px;
}

.form-check > input[type="radio"] + label {
    color: #343A40;
    font-size: small;
    width: 70px;
    text-align: center;
    padding: 5px 0px;
    -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -moz-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -ms-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -o-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.form-check > input[type="radio"] + label:hover {
    cursor: pointer;
}

.form-check > input[type="radio"]:checked + label {
    background-color: #007BFF;
    color: #fff;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    width: 70px;
    text-align: center;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}

.form-check > input[type="radio"] + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    height: 80%;
    background-color: #B0BBC630;
}

.form-check:last-child > input[type="radio"] + label:after {
    display: none;
}

.email {
    direction: rtl;
}

.email > .input-group {
    width: 35%;
}

.email > .input-group > input[type="text"] {
    padding-right: 25px;
    font-size: small;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 35px;
}

.fa-at {
    position: absolute;
    z-index: 1000;
    top: 11px;
    right: 5px;
    color: #343A4090;
    font-size: 15px;
}

.btn {
    font-size: small;
    width: 250px;
    height: 30px;
    display: block;
    margin-top: 5px;
}