@font-face {
    font-family: IRANSans;
    src: url("../fonts/IRANSans(FaNum).ttf") format("truetype");
}

body {
    background-color: #F8FAFB;
    font-family: IRANSans !important;
}

div.radio-group {
    float: right;
    direction: rtl;
    width: fit-content;
    height: fit-content;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.form-check > input[type="radio"] {
    display: none;
}

.form-check {
    float: right;
    padding-left: 0;
    display: inline-flex;
    margin: 5px;
}

.form-check > input[type="radio"] + label {
    color: #343A40;
    font-size: small;
    width: 70px;
    text-align: center;
    padding: 5px 0px;
    -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -moz-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -ms-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -o-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.form-check > input[type="radio"] + label:hover {
    cursor: pointer;
}

.form-check > input[type="radio"]:checked + label {
    background-color: #007BFF;
    color: #fff;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    width: 70px;
    text-align: center;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}

.form-check > input[type="radio"] + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    height: 80%;
    background-color: #B0BBC630;
}

.form-check:last-child > input[type="radio"] + label:after {
    display: none;
}

.email {
    direction: rtl;
}

.fc1 {
    padding-right: 40px;
    font-size: small;
    border: none;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    height: 35px;
    direction: rtl !important;
}

input[type="text"]:hover {
    cursor: auto !important;
}

input[type="password"]:hover {
    cursor: auto !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0;
}

.iconInput {
    position: absolute;
    z-index: 1000;
    color: #343A4090;
    font-size: 15px;
    display: flex;
    transform: translate(-15px, -25px);
}

.btn {
    font-size: small;
    min-width: 85px;
}

.btn-blue {
    color: #FFFFFF;
    background-color: #007BFF;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}

.btn-blue:hover {
    color: #FFFFFF;
    box-shadow: 0 2px 8px 0 #007BFF90;
}

.btn-blue:focus {
    color: #FFFFFF;
    box-shadow: 0 2px 8px 0 #007BFF90;
}

.btn-green {
    color: #FFFFFF;
    background-color: #28A745;
    box-shadow: 0 5px 10px #28A74516, 0 15px 40px #28A74516;
}

.btn-green:hover {
    color: #FFFFFF;
    box-shadow: 0 2px 8px 0 #28A74590;
}

.btn-green:focus {
    color: #FFFFFF;
    box-shadow: 0 2px 8px 0 #28A74590;
}

.btn-red {
    color: #FFFFFF;
    background-color: #DC3545;
    box-shadow: 0 5px 10px #DC354516, 0 15px 40px #DC354516;
}

.btn-red:hover {
    color: #FFFFFF;
    box-shadow: 0 2px 8px 0 #DC354590;
}

.btn-red:focus {
    color: #FFFFFF;
    box-shadow: 0 2px 8px 0 #DC354590;
}

.btn-yellow {
    color: #272529;
    background-color: #FFC107;
    box-shadow: 0 5px 10px #FFC10716, 0 15px 40px #FFC10716;
}

.btn-yellow:hover {
    color: #272529;
    box-shadow: 0 2px 8px 0 #FFC10790;
}

.btn-yellow:focus {
    color: #272529;
    box-shadow: 0 2px 8px 0 #FFC10790;
}

.btn-link {
    color: #007BFF;
}

.btn-link:hover {
    color: #007BFF;
    text-decoration: none;
}

.btn-link:focus {
    color: #007BFF;
    text-decoration: none;
}

.customBox {
    position: relative;
    padding-right: 20px;
    cursor: pointer;
    font-size: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.customBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0px;
    left: 70px;
    height: 15px;
    width: 15px;
    background-color: #8697A830;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.customBox:hover input ~ .checkmark {
    background-color: #007BFF40;
}

.customBox input:checked ~ .checkmark {
    background-color: #007BFF;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.customBox input:checked ~ .checkmark:after {
    display: block;
}

.customBox .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

#inputStateSmall {
    position: relative;
    direction: rtl;
    -webkit-appearance: none;
    font-size: small;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 5px 10px #00000015, 0 15px 40px #00000015;
}

[class^="ti-angle-down"] {
    position: absolute;
    left: 30px;
    top: 10px;
    font-size: small;
}

.all-ti-angle-down {

}

#inputStateBig {
    direction: rtl;
    -webkit-appearance: none;
    font-size: small;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-right: 30px;
    box-shadow: 0 5px 10px #00000015, 0 15px 40px #00000015;
    margin-right: 15px;
}

.select-icon {
    position: absolute;
    right: 25px;
    top: 50%;
    font-size: small;
    transform: translateY(-50%);
}

.form-control:hover {
    cursor: pointer;
}

.card1 {
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 40px 0px 40px 55px;
    direction: rtl;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
    font-size: 11px;
    width: fit-content;
    height: fit-content;
}

.card-header {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-bottom: none;
}

.card-body {
    background-color: #F8FAFB;
    padding-right: 55px;
    padding-left: 55px;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    -webkit-border-bottom-right-radius: 10px !important;
    -webkit-border-bottom-left-radius: 10px !important;
}

#cb-bottom {
    background-color: rgba(0, 0, 0, .03);
}

.fc2 {
    padding-right: 40px;
    font-size: small;
    border: none;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    height: 35px;
    direction: rtl !important;
}

.bg-transparent {
    background-color: #F8FAFB !important;
}

.loginCloL {
    padding-right: 80px;
}

h1 {
    font-size: x-large;
    font-weight: bold;
    margin-top: 30px;
    display: flex;
    margin-bottom: 20px;
    color: #343A40;
}

.loginImg {
    height: 100% !important;
}

.recoverAnchor {
    position: relative;
    top: 15px;
    color: #007BFF;
    left: 25%;
}

.recoverAnchor:hover {
    text-decoration: none;
    color: #007BFF;
}

.Anchor {
    position: relative;
    top: 5px;
}

.Anchor:hover {
    text-decoration: none;
    color: #007BFF;
}

#loginBtn {
    margin-top: 35px;
}

.recoverImg {
    width: 100px;
    margin-left: 20px;
}

.card2 {
    width: 25%;
    position: absolute;
    height: 53%;
    font-size: 11px;
    top: 45%;
    left: 35%;
    transform: translate(0%, -45%);
    -webkit-transform: translate(0%, -45%);
    -moz-transform: translate(0%, -45%);
    -o-transform: translate(0%, -45%);
    border: none;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    direction: rtl;
}

#recover-h1 {
    margin: 0 !important;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 5px;
}

#recoverInput {
    margin-top: 20px;
    margin-bottom: 10px;
}

#recoverIcon {
    top: 253px;
    padding-right: 0px;
}

.topDrive {
    border-bottom: 1px solid #8697A8;
    background-color: #ffffff;
    height: 60px;
    position: absolute;
    top: 0px;
    width: calc(100% - 200px);
    color: #8697A8;
    direction: rtl;
}

.sidebar {
    border-left: 1px solid #8697A8;
    width: 200px;
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    height: 100%;
    direction: rtl;
}

.sidebar ul {
    list-style: none;
    margin-top: 60px;
    padding-right: 0px !important;
    width: 100%;
    font-size: 14px;
    color: #8697A8;
}

.sidebar a {
    display: flex;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    position: relative;
}

.sidebar a:first-child svg {
    font-size: 17px;
}

.sidebar span {
    z-index: 1;
    padding-right: 10px;
}

.sidebar a:hover {
    background-color: #F8FAFB;
    cursor: pointer;
    color: #343A40;
}

.sidebar [class^="ti-"] {
    font-size: 16px;
    padding-left: 10px;
    font-weight: 600;
}

.showSlideBar [class^="ti-"] {
    padding-left: 0px !important;
}

.sidebar i {
    font-size: 17px;
    padding-left: 10px;
}

.showSlideBar i {
    padding-left: 0px !important;
}

.sidebar li {
    display: flex;
}

.showSlideBar li {
    margin-left: auto;
    margin-right: auto;
}

.showSlideBar a:hover {
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #F8FAFB;
}

.topDrive > .input-group {
    width: fit-content;
    position: relative;
    top: 20%;
    padding-right: 80px;
}

.topDrive > .input-group > input[type="text"] {
    background-color: #F8FAFB;
    padding-right: 35px !important;
    font-size: 11px !important;
    height: 30px !important;
    margin-left: 0px !important;
}

[class^="ti-search"] {
    position: absolute;
    top: 18px;
    z-index: 1000;
    height: fit-content;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    padding-right: 20px;
}

.showSlideBar {
    width: 80px !important;
}

.removeText {
    display: none !important;
}

.changeTopDrive {
    width: calc(100% - 80px);
}

.fa-envelope {
    font-size: 20px;
    color: #8697A8 !important;
}

.fa-envelope:hover {
    cursor: pointer;
}

.new1:after {
    content: '';
    position: absolute;
    top: 35%;
    width: 8px;
    height: 8px;
    background-color: #FF3D57;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid white;
    left: 115%;
    transform: translate(-12px, 3px);
    -webkit-transform: translate(-12px, 3px);
    -moz-transform: translate(-12px, 3px);
    -o-transform: translate(-12px, 3px);
}

.fa-bell {
    font-size: 20px;
    color: #8697A8 !important;
}

.fa-bell:hover {
    cursor: pointer;
}

.new:after {
    content: '';
    position: absolute;
    top: 35%;
    width: 8px;
    height: 8px;
    background-color: #FF3D57;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid white;
    left: 15%;
    transform: translate(33px, 3px);
    -webkit-transform: translate(33px, 3px);
    -moz-transform: translate(33px, 3px);
    -o-transform: translate(33px, 3px);
}

.active:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 100%;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    background-color: #0081FF;
    z-index: 1;
}

.active {
    background-color: #F8FAFB;
}

.sidebar.showSlideBar a.active {
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.sidebar.showSlideBar a.active:before {
    display: none;
}

.userImg {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 45px;
}

.dropdown {
    float: left;
}

.noTriangle:after {
    display: none !important;
}

.spanBorder:after {
    content: '';
    position: absolute;
    margin: 8px 87px 0px 0px;
    width: 1px;
    height: 70%;
    background-color: #B0BBC630;
}

.firstDropdown {
    padding-left: 30px;
    padding-top: 7px;
    margin-right: 10px;
}

.topDrive > .firstDropdown > .dropdown-toggle:hover {
    cursor: pointer;
}

.topDrive > .firstDropdown > .dropdown-menu > ul {
    list-style: none;
    direction: ltr;
    text-align: right;
    font-size: 12px;
    padding: 0px 10px 0px 5px;
}

.sidebar > ul > a {
    color: #343A40;
    margin-bottom: 5px;
}

.sidebar > ul > a:hover {
    text-decoration: none;
    color: #343A40 !important;
}

.sidebar > ul > a:focus {
    color: #343A40 !important;
}

.showSlideBar a {
    padding-right: 0px !important;

}

.showSlideBar li {
    margin-right: auto;
    margin-left: auto;
}

.topDrive > .firstDropdown > .dropdown-menu > ul > li > a {
    color: #343A40;
}

.topDrive > .firstDropdown > .dropdown-menu > ul > li > a:hover {
    text-decoration: none;
    color: #343A40 !important;
}

.topDrive > .firstDropdown > .dropdown-menu > ul > li > a:focus {
    color: #343A40 !important;
}

.dropdown-toggle::after {
    vertical-align: inherit;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
}

.fullName {
    font-size: 15px;
}

.bellEnvelope {
    padding-top: 20px;
    padding-left: 30px;
}

.fa-sliders-h {
    float: right;
    transform: translate(-30px, -27px);
    -webkit-transform: translate(-30px, -27px);
    -moz-transform: translate(-30px, -27px);
    -o-transform: translate(-30px, -27px);
    font-size: 20px;
}

.fa-sliders-h:hover {
    cursor: pointer;
}

.Page-Body {
    position: absolute;
    top: 60px;
    width: calc(100% - 200px);
    height: calc(100% - 60px);
    padding: 20px 15px;
    overflow: auto;
    direction: rtl;
}

::-webkit-scrollbar {
    width: 0px !important;
}

.max-width {
    width: calc(100% - 80px);
}

.top-row {
    border-bottom: 1px solid #8697A8;
    height: 70%;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.bottom-row {
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 20px;
    height: 100%;
}

.row h1 {
    padding-right: 15px;
}

.form-group {
    position: relative;
}

.middle-row > .form-group:last-child {
    right: 50px !important;
}

.middle-row > .form-group:first-child > select {
    width: fit-content;
    padding-left: 35px;
    position: relative;
}

.middle-row > .form-group:first-child > .ti-angle-down {
    left: 10px;
}

.middle-row > .form-group:last-child > select {
    padding-left: 35px;
}

.middle-row > .form-group > .ti-angle-down {
    left: 10px;
}

.bottom-row .col-5 {
    padding-right: 0px;
}

.bottom-row .col-7 {
    padding-left: 0px;
}

.bottom-row .card {
    height: 100%;
    border: none;
    border-radius: 10px !important;
}

.bottom-row .card-body {
    background-color: #FFFFFF !important;
    border-radius: 10px !important;
    padding-left: 0px;
    padding-right: 0px;
}

.bottom-row h1 {
    font-size: 20px !important;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.bottom-row tr th:first-child {
    text-align: right;
}

.bottom-row thead th {
    text-align: center;
    border-top: none;
}

.bottom-row tbody td {
    text-align: center;
}

.pack {
    background-color: #F8FAFB;
    border-radius: 5px;
    direction: ltr !important;
    float: left;
    margin-left: 10px;
    padding: 10px;
    border-collapse: separate;
}

.choice-pack {
    padding-top: 4px;
}

.pack tr span {
    position: relative;
    height: 15px;
    width: 20px;
    background-color: #FFFFFF;
    -webkit-border-radius: 4px;
    border: 1px solid #8697A850;
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
}

.pack td:first-child span {
    background-color: transparent;
    border: none;
    white-space: nowrap;
}

.true-choice {
    border-color: #0ACF83 !important;
}

.true-choice:after {
    content: "";
    position: absolute;
    left: 6px;
    top: -1px;
    width: 6px;
    height: 12px;
    border: solid #0ACF83;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.false-choice {
    border-color: #FF3D57 !important;
}

.false-choice:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 0px;
    height: 14px;
    border: solid #FF3D57;
    border-width: 0px 1px 1px 0px;
    transform-origin: center;
    -webkit-transform: rotate(53deg);
    -ms-transform: rotate(53deg);
    -moz-transform: rotate(53deg);
    transform: rotate(53deg);
}

.false-choice:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 0px;
    height: 14px;
    border: solid #FF3D57;
    border-width: 0px 1px 1px 0px;
    transform-origin: center;
    -webkit-transform: rotate(-53deg);
    -ms-transform: rotate(-53deg);
    -moz-transform: rotate(-53deg);
    transform: rotate(-53deg);
}

.filled-choice {
    background-color: #000000 !important;
}

.no-padding-Page-Body {
    padding: 0px;
    overflow: hidden;
}

.question-sidebar {
    border-left: 1px solid #8697A8;
    width: 200px;
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    height: 100%;
    direction: rtl;
    padding: 0px !important;
}

.question-sidebar .btn-blue {
    margin: 20px 0px 20px 47px;
    box-shadow: none !important;
}

.question-sidebar .btn-blue svg {
    font-size: 17px;
}

.question-sidebar a {
    display: flex;
    padding: 10px 30px;
    position: relative;
    color: #343A40;
    margin-bottom: 5px;
    font-size: 15px;
}

.question-sidebar a:nth-child(4) {
    padding-right: 15px !important;
}

.question-sidebar i {
    margin-left: 10px;
    font-size: 17px;
}

.question-page-body {
    position: absolute;
    left: 0;
    padding: 0 !important;
    overflow: scroll;
    height: 100%;
    max-width: calc(100% - 200px) !important;
}

.question-page-body h1 span {
    opacity: 60%;
}

.question-page-body .input-group {
    width: 25% !important;
    position: absolute;
    left: 0;
    margin-left: 25px;
    box-shadow: 0 5px 10px #00000015, 0 15px 40px #00000015;
}

.question-page-body .input-group input {
    font-size: 12px !important;
}

.question-page-body .ti-search {
    top: 20px !important;
}

.path {
    width: fit-content;
    margin-right: 15px;
}

a:hover {
    text-decoration: none !important;
}

.path span {
    color: #8697A8 !important;
}

.path span a {
    color: #8697A8;
    font-weight: bold;
    font-size: 15px;
}

.path span a:last-child {
    color: #343A40 !important;
}

.make-exam-top h1 {
    margin-bottom: 0px !important;
    margin-top: 10px !important;
}

.top-icons {
    direction: ltr;
}

.top-icons span {
    border-radius: 50%;
    padding: 5px 10px;
    background-color: #8697A820;
    margin-right: 10px;
}

.top-icons img {
    height: 20px;
}

.make-exam-top .path {
    margin-right: 0px !important;
}

.make-exam-bottom-row {
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 30px;
    height: 100%;
}

.make-exam-bottom-row .card {
    border: none !important;
    border-radius: 1.25rem;
}

.make-exam-bottom-row .card-body {
    background-color: #FFFFFF !important;
    border-radius: 10px;
}

.make-exam-bottom-row label {
    display: table-header-group;
    font-size: 15px;
    font-weight: bold;
}

#question-textarea {
    background-color: #8697A820;
    border: none !important;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 13px;
}

.change-btns {
    width: fit-content;
    display: inline-block;
    background-color: #8697A820;
    border-radius: 5px;
    padding: 4px;
    margin-top: 10px;
}

.change-btns .btn {
    min-width: 50px !important;
}

.change-btns .btn:first-child svg {
    font-size: 20px;
}

.change-btns .btn:last-child svg {
    font-size: 21px;
}

.make-exam-bottom-row form {
    position: inherit;
    height: 100%;
}

.question-textarea {
    height: 150px;
}

.complete-ans {
    height: 150px;
}

#complete-ans {
    background-color: #8697A820;
    border: none !important;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 13px;
}

.choices {
    margin-top: 20px;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.choice {
    padding: 0;
    width: fit-content;
    margin-bottom: 15px;
}

.choice div {
    background-color: #8697A820;
    width: 450px;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
}

.choice span {
    display: inherit;
}

.custom-input {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.custom-input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.tick {
    position: absolute;
    top: 2px;
    right: 80px;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 5px;
}

.left-choices-tick {
    right: 145px !important;
}


.custom-input input:checked ~ .tick {
    background-color: #0081FF;
}

.tick:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-input input:checked ~ .tick:after {
    display: block;
}

.custom-input .tick:after {
    left: 6px;
    top: 1px;
    width: 6px;
    height: 13px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg)
}

.left-choices {
    padding-right: 65px;
}

.state {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 30px;
}

.state .form-group {
    max-width: 24.333333% !important;
    padding: 0px !important;
}

.state .form-group:first-child {
    margin-left: 138px;
}

.state .form-group:nth-child(2) {
    margin-left: 139px;
}

.state .form-control {
    margin-top: 10px;
}

.state [class^="ti-angle-down"] {
    position: absolute;
    left: 10px;
    top: 45px;
    font-size: 10px;
}