@font-face {
    font-family: IRANSans;
    src: url("../fonts/IRANSans(FaNum).ttf") format("truetype");
}

@font-face {
    font-family: "B Mitra";
    src: url("../fonts/BMitra.ttf") format("truetype");
}

@font-face {
    font-family: "B Yekan";
    src: url("../fonts/Yekan.ttf") format("truetype");
}

@font-face {
    font-family: "B Nazanin";
    src: url("../fonts/nazanin.ttf") format("truetype");
}

body {
    background-color: #F8FAFB;
    font-family: IRANSans, serif !important;
}

div.radio-group {
    float: right;
    direction: rtl;
    width: fit-content;
    height: fit-content;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.form-check > input[type="radio"] {
    display: none;
}

.form-check {
    float: right;
    padding-left: 0;
    display: inline-flex;
    margin: 5px;
}

.form-check > input[type="radio"] + label {
    color: #343A40;
    font-size: small;
    width: 70px;
    text-align: center;
    padding: 5px 0px;
    -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -moz-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -ms-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -o-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.form-check > input[type="radio"] + label:hover {
    cursor: pointer;
}

.form-check > input[type="radio"]:checked + label {
    background-color: #007BFF;
    color: #fff;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    width: 70px;
    text-align: center;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}

.form-check > input[type="radio"] + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    height: 80%;
    background-color: #B0BBC630;
}

.form-check:last-child > input[type="radio"] + label:after {
    display: none;
}

.email {
    direction: rtl;
}

.fc1 {
    padding-right: 40px;
    font-size: small;
    border: none;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    height: 35px;
    direction: rtl !important;
}

input[type="text"]:hover {
    cursor: auto !important;
}

input[type="password"]:hover {
    cursor: auto !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.iconInput {
    position: absolute;
    z-index: 1000;
    color: #343A4090;
    font-size: 15px;
    display: flex;
    transform: translate(-15px, -25px);
}

.btn {
    font-size: small;
    min-width: 85px;
}

.btn-blue {
    color: #FFFFFF;
    background-color: #007BFF;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}

.btn-blue:hover {
    color: #FFFFFF;
    box-shadow: 0 2px 8px 0 #007BFF90;
}

.btn-blue:focus {
    color: #FFFFFF;
    box-shadow: 0 2px 8px 0 #007BFF90;
}

.btn-green {
    color: #FFFFFF;
    background-color: #28A745;
    box-shadow: 0 5px 10px #28A74516, 0 15px 40px #28A74516;
}

.btn-green:hover {
    color: #FFFFFF;
    box-shadow: 0 2px 8px 0 #28A74590;
}

.btn-green:focus {
    color: #FFFFFF;
    box-shadow: 0 2px 8px 0 #28A74590;
}

.btn-red {
    color: #FFFFFF;
    background-color: #DC3545;
    box-shadow: 0 5px 10px #DC354516, 0 15px 40px #DC354516;
}

.btn-red:hover {
    color: #FFFFFF;
    box-shadow: 0 2px 8px 0 #DC354590;
}

.btn-red:focus {
    color: #FFFFFF;
    box-shadow: 0 2px 8px 0 #DC354590;
}

.btn-yellow {
    color: #272529;
    background-color: #FFC107;
    box-shadow: 0 5px 10px #FFC10716, 0 15px 40px #FFC10716;
}

.btn-yellow:hover {
    color: #272529;
    box-shadow: 0 2px 8px 0 #FFC10790;
}

.btn-yellow:focus {
    color: #272529;
    box-shadow: 0 2px 8px 0 #FFC10790;
}

.btn-link {
    color: #007BFF;
}

.btn-link:hover {
    color: #007BFF;
    text-decoration: none;
}

.btn-link:focus {
    color: #007BFF;
    text-decoration: none;
}

.customBox {
    position: relative;
    padding-right: 20px;
    cursor: pointer;
    font-size: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.customBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0px;
    left: 70px;
    height: 15px;
    width: 15px;
    background-color: #8697A830;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.customBox:hover input ~ .checkmark {
    background-color: #007BFF40;
}

.customBox input:checked ~ .checkmark {
    background-color: #007BFF;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.customBox input:checked ~ .checkmark:after {
    display: block;
}

.customBox .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

#grade-select, #lesson-select, #chapter-select {
    position: relative;
    direction: rtl;
    -webkit-appearance: none;
    font-size: small;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 5px 10px #00000015, 0 15px 40px #00000015;
    /*width: 75%;*/
}

@media (min-width: 992px) {
    .state > .form-group {
        flex: none;
        max-width: none;
    }
}

.state > .form-group {
    width: 25%;
}

.state > .form-group:first-child {
    margin-left: auto;
}

.state > .form-group:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
}

.state > .form-group:last-child {
    margin-right: auto;
}

[class^="ti-angle-down"] {
    position: absolute;
    left: 30px;
    top: 10px;
    font-size: small;
}

#inputStateBig {
    direction: rtl;
    -webkit-appearance: none;
    font-size: small;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-right: 30px;
    box-shadow: 0 5px 10px #00000015, 0 15px 40px #00000015;
    margin-right: 15px;
}

.select-icon {
    position: absolute;
    right: 25px;
    top: 50%;
    font-size: small;
    transform: translateY(-50%);
}

.form-control:hover {
    cursor: pointer;
}

.card1 {
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 40px 0px 40px 55px;
    direction: rtl;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
    font-size: 11px;
    width: fit-content;
    height: fit-content;
}

.card-header {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-bottom: none;
}

.card-body {
    background-color: #F8FAFB;
    padding-right: 55px;
    padding-left: 55px;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    -webkit-border-bottom-right-radius: 10px !important;
    -webkit-border-bottom-left-radius: 10px !important;
}

#cb-bottom {
    background-color: rgba(0, 0, 0, .03);
}

.fc2 {
    padding-right: 40px;
    font-size: small;
    border: none;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    height: 35px;
    direction: rtl !important;
}

.bg-transparent {
    background-color: #F8FAFB !important;
}

.loginCloL {
    padding-right: 80px;
}

h1 {
    font-size: x-large;
    font-weight: bold;
    margin-top: 30px;
    display: flex;
    margin-bottom: 20px;
    color: #343A40;
}

.loginImg {
    height: 100% !important;
}

.recoverAnchor {
    position: relative;
    top: 15px;
    color: #007BFF;
    left: 25%;
}

.recoverAnchor:hover {
    text-decoration: none;
    color: #007BFF;
}

.Anchor {
    position: relative;
    top: 5px;
}

.Anchor:hover {
    text-decoration: none;
    color: #007BFF;
}

#loginBtn {
    margin-top: 35px;
}

.recoverImg {
    width: 100px;
    margin-left: 20px;
}

.card2 {
    width: 25%;
    position: absolute;
    height: 53%;
    font-size: 11px;
    top: 45%;
    left: 35%;
    transform: translate(0%, -45%);
    -webkit-transform: translate(0%, -45%);
    -moz-transform: translate(0%, -45%);
    -o-transform: translate(0%, -45%);
    border: none;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    direction: rtl;
}

#recover-h1 {
    margin: 0 !important;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 5px;
}

#recoverInput {
    margin-top: 20px;
    margin-bottom: 10px;
}

#recoverIcon {
    top: 253px;
    padding-right: 0px;
}

.topDrive {
    border-bottom: 1px solid #8697A8;
    background-color: #ffffff;
    height: 60px;
    position: absolute;
    top: 0px;
    width: calc(100% - 200px);
    color: #8697A8;
    direction: rtl;
    z-index: 999;
}

.sidebar {
    border-left: 1px solid #8697A8;
    width: 200px;
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    height: 100%;
    direction: rtl;
}

.sidebar ul {
    list-style: none;
    margin-top: 60px;
    padding-right: 0px !important;
    width: 100%;
    font-size: 14px;
    color: #8697A8;
}

.sidebar a {
    display: flex;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    position: relative;
}

.sidebar a:first-child svg {
    font-size: 17px;
    margin-left: 10px;
}

.sidebar span {
    z-index: 1;
    padding-right: 10px;
}

.sidebar a:hover {
    background-color: #F8FAFB;
    cursor: pointer;
    color: #343A40;
}

.sidebar [class^="ti-"] {
    font-size: 16px;
    padding-left: 10px;
    font-weight: 600;
}

.showSlideBar [class^="ti-"] {
    padding-left: 0px !important;
}

.sidebar i {
    font-size: 17px;
    padding-left: 10px;
}

.showSlideBar i {
    padding-left: 0px !important;
}

.sidebar li {
    display: flex;
}

.showSlideBar li {
    margin-left: auto;
    margin-right: auto;
}

.showSlideBar a:hover {
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #F8FAFB;
}

.topDrive > .input-group {
    width: fit-content;
    position: relative;
    top: 20%;
    padding-right: 80px;
}

.topDrive > .input-group > input[type="text"] {
    background-color: #F8FAFB;
    padding-right: 35px !important;
    font-size: 11px !important;
    height: 30px !important;
    margin-left: 0px !important;
}

[class^="ti-search"] {
    position: absolute;
    top: 18px;
    z-index: 1000;
    height: fit-content;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    padding-right: 20px;
}

.showSlideBar {
    width: 80px !important;
}

.removeText {
    display: none !important;
}

.changeTopDrive {
    width: calc(100% - 80px);
}

.fa-envelope {
    font-size: 20px;
    color: #8697A8 !important;
}

.fa-envelope:hover {
    cursor: pointer;
}

.new1:after {
    content: '';
    position: absolute;
    top: 35%;
    width: 8px;
    height: 8px;
    background-color: #FF3D57;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid white;
    left: 115%;
    transform: translate(-12px, 3px);
    -webkit-transform: translate(-12px, 3px);
    -moz-transform: translate(-12px, 3px);
    -o-transform: translate(-12px, 3px);
}

.fa-bell {
    font-size: 20px;
    color: #8697A8 !important;
}

.fa-bell:hover {
    cursor: pointer;
}

.new:after {
    content: '';
    position: absolute;
    top: 35%;
    width: 8px;
    height: 8px;
    background-color: #FF3D57;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid white;
    left: 15%;
    transform: translate(33px, 3px);
    -webkit-transform: translate(33px, 3px);
    -moz-transform: translate(33px, 3px);
    -o-transform: translate(33px, 3px);
}

.sidebar .active:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 100%;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    background-color: #0081FF;
    z-index: 1;
}

.sidebar .active {
    background-color: #F8FAFB;
}

.sidebar.showSlideBar a.active {
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.sidebar.showSlideBar a.active:before {
    display: none;
}

.userImg {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 45px;
}

.dropdown {
    float: left;
}

.noTriangle:after {
    display: none !important;
}

.spanBorder:after {
    content: '';
    position: absolute;
    margin: 8px 87px 0px 0px;
    width: 1px;
    height: 70%;
    background-color: #B0BBC630;
}

.firstDropdown {
    padding-left: 30px;
    padding-top: 7px;
    margin-right: 10px;
}

.topDrive > .firstDropdown > .dropdown-toggle:hover {
    cursor: pointer;
}

.topDrive > .firstDropdown > .dropdown-menu > ul {
    list-style: none;
    direction: ltr;
    text-align: right;
    font-size: 12px;
    padding: 0px 10px 0px 5px;
}

.sidebar > ul > a {
    color: #343A40;
    margin-bottom: 5px;
}

.sidebar > ul > a:hover {
    text-decoration: none;
    color: #343A40 !important;
}

.sidebar > ul > a:focus {
    color: #343A40 !important;
}

.showSlideBar a {
    padding-right: 0px !important;

}

.showSlideBar li {
    margin-right: auto;
    margin-left: auto;
}

.topDrive > .firstDropdown > .dropdown-menu > ul > li > a {
    color: #343A40;
}

.topDrive > .firstDropdown > .dropdown-menu > ul > li > a:hover {
    text-decoration: none;
    color: #343A40 !important;
}

.topDrive > .firstDropdown > .dropdown-menu > ul > li > a:focus {
    color: #343A40 !important;
}

.dropdown-toggle::after {
    vertical-align: inherit;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
}

.fullName {
    font-size: 15px;
}

.bellEnvelope {
    padding-top: 20px;
    padding-left: 30px;
}

.slider-control {
    float: right;
    transform: translate(-30px, -32px);
    -webkit-transform: translate(-30px, -32px);
    -moz-transform: translate(-30px, -32px);
    -o-transform: translate(-30px, -32px);
    font-size: 20px;
}

.slider-control:hover {
    cursor: pointer;
}

.Page-Body {
    position: absolute;
    top: 60px;
    width: calc(100% - 200px);
    height: calc(100% - 60px);
    padding: 20px 15px;
    overflow: auto;
    direction: rtl;
}

.Page-Body::-webkit-scrollbar {
    width: 0;
}

.max-width {
    width: calc(100% - 80px);
}

.top-row {
    border-bottom: 1px solid #8697A8;
    height: 70%;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.bottom-row {
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 20px;
    height: 100%;
}

.row h1 {
    padding-right: 15px;
}

.form-group {
    position: relative;
}

.middle-row > .form-group:last-child {
    right: 50px !important;
}

.middle-row > .form-group:first-child > select {
    width: fit-content;
    padding-left: 35px;
    position: relative;
}

.middle-row > .form-group:first-child > .ti-angle-down {
    left: 10px;
}

.middle-row > .form-group:last-child > select {
    padding-left: 35px;
}

.middle-row > .form-group > .ti-angle-down {
    left: 10px;
}

.bottom-row .col-5 {
    padding-right: 0px;
}

.bottom-row .col-7 {
    padding-left: 0px;
}

.bottom-row .card {
    height: 100%;
    border: none;
    border-radius: 10px !important;
}

.bottom-row .card-body {
    background-color: #FFFFFF !important;
    border-radius: 10px !important;
    padding-left: 0px;
    padding-right: 0px;
}

.bottom-row h1 {
    font-size: 20px !important;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.bottom-row tr th:first-child {
    text-align: right;
}

.bottom-row thead th {
    text-align: center;
    border-top: none;
}

.bottom-row tbody td {
    text-align: center;
}

.pack {
    background-color: #F8FAFB;
    border-radius: 5px;
    direction: ltr !important;
    float: left;
    margin-left: 10px;
    padding: 10px;
    border-collapse: separate;
}

.choice-pack {
    padding-top: 4px;
}

.pack tr span {
    position: relative;
    height: 15px;
    width: 20px;
    background-color: #FFFFFF;
    -webkit-border-radius: 4px;
    border: 1px solid #8697A850;
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
}

.pack td:first-child span {
    background-color: transparent;
    border: none;
    white-space: nowrap;
}

.true-choice {
    border-color: #0ACF83 !important;
}

.true-choice:after {
    content: "";
    position: absolute;
    left: 6px;
    top: -1px;
    width: 6px;
    height: 12px;
    border: solid #0ACF83;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.false-choice {
    border-color: #FF3D57 !important;
}

.false-choice:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 0px;
    height: 14px;
    border: solid #FF3D57;
    border-width: 0px 1px 1px 0px;
    transform-origin: center;
    -webkit-transform: rotate(53deg);
    -ms-transform: rotate(53deg);
    -moz-transform: rotate(53deg);
    transform: rotate(53deg);
}

.false-choice:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 0px;
    height: 14px;
    border: solid #FF3D57;
    border-width: 0px 1px 1px 0px;
    transform-origin: center;
    -webkit-transform: rotate(-53deg);
    -ms-transform: rotate(-53deg);
    -moz-transform: rotate(-53deg);
    transform: rotate(-53deg);
}

.filled-choice {
    background-color: #000000 !important;
}

.no-padding-Page-Body {
    padding: 0px;
    overflow: hidden;
}

.question-sidebar {
    border-left: 1px solid #8697A8;
    width: 200px;
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    height: 100%;
    direction: rtl;
    padding: 0px !important;
}

.question-sidebar .btn-blue {
    max-width: 130px;
    padding: 10px 10px;
    margin: 20px auto;
    color: #fff;
    box-shadow: none !important;
    font-weight: unset;
}

.question-sidebar .btn-blue svg {
    font-size: 17px;
}

.question-sidebar a {
    display: flex;
    padding: 10px 28px;
    position: relative;
    color: #8697A8;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.question-sidebar a:nth-child(4) {
    padding-right: 15px !important;
}

.question-sidebar a.active:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 100%;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    background-color: #0081FF;
    z-index: 1;
}

.question-sidebar a.active {
    background-color: #F8FAFB;
    color: #343A40;
}

.question-sidebar i {
    margin-left: 10px;
    font-size: 17px;
}

.sidebar-bottom-box {
    padding: 0 !important;
    width: 100%;
    position: absolute !important;
    left: 0;
    bottom: 15px;
}

.question-body {
    padding: 0;
    position: absolute;
    left: 0;
    max-width: calc(100% - 200px);
    direction: ltr;
    height: 100%;
    overflow-y: scroll;
}

.question-body:hover {
    overflow-y: scroll;
}

.question-page-body {
    padding: 0 !important;
    direction: rtl;
}

.next-question-page-body {
    padding: 0 !important;
    height: 100%;
}

.question-page-body h1 span,
.next-question-page-body h1 span {
    opacity: 60%;
}

.question-page-body .input-group {
    width: 25%;
    position: relative;
    margin-right: auto;
    margin-left: 20px;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

@media (max-width: 992px) {
    .question-page-body .input-group {
        width: 35%;
    }
}

.question-page-body .input-group input {
    font-size: 12px !important;
}

.question-page-body .ti-search {
    top: 20px !important;
}

.path {
    width: fit-content;
    margin-right: 15px;
}

a:hover {
    text-decoration: none !important;
}

.path span {
    color: #8697A8 !important;
}

.path span a {
    color: #8697A8;
    font-weight: bold;
    font-size: 14px;
}

.path span a:last-child {
    color: #343A40 !important;
}


.question-body::-webkit-scrollbar {
    width: 5px;
    border-radius: 3px;
}

.question-body::-webkit-scrollbar-track {
    border-radius: 3px;
}

.question-body::-webkit-scrollbar-thumb {
    background: transparent;
}

.question-body:hover::-webkit-scrollbar-thumb {
    background: #0081FF;
    border-radius: 3px;
}

.make-exam-top h1 {
    margin-bottom: 0px !important;
    margin-top: 10px !important;
    font-size: 23px !important;
}

.top-icons {
    direction: ltr;
}

.top-icons span {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    padding: 5px 10px;
    background-color: #8697A820;
    margin-right: 10px;
}

.top-icons img {
    height: 20px;
}

.make-exam-top .path {
    margin-right: 0px !important;
}

.make-exam-bottom-row {
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 30px;
    height: 100%;
}

.make-exam-bottom-row .card {
    border: none !important;
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    margin-bottom: 20px;
}

.make-exam-bottom-row .card-body {
    background-color: #FFFFFF !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.make-exam-bottom-row label {
    display: table-header-group;
    font-size: 14px;
    font-weight: bold;
}

#question-textarea {
    background-color: #F8FAFB !important;
    border: none !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 10px;
    font-size: 13px;
    direction: rtl;
}

.change-btns {
    width: fit-content;
    display: inline-block;
    background-color: #F8FAFB !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 4px;
    margin-top: 10px;
}

.change-btns .btn {
    min-width: 40px !important;
}

.change-btns .btn:first-child svg {
    font-size: 16px;
}

.change-btns .btn:last-child svg {
    font-size: 16px;
}

.make-exam-bottom-row form {
    position: inherit;
    height: 100%;
}

.question-textarea {
    min-height: 200px;
}

.complete-ans {
    min-height: 150px;
}

#complete-ans {
    background-color: #F8FAFB;
    border: none !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 10px;
    font-size: 13px;
}

.choices {
    margin-top: 20px;
    margin-right: 0px !important;
    margin-left: 0px !important;
    direction: rtl !important;
}

.choice {
    padding: 0;
    width: 95%;
    margin-bottom: 15px;
}

.choice div {
    width: 93%;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 5px;
    background-color: #F8FAFB;

}

@media (max-width: 992px) {
    .choice div {
        width: 100%;
    }
}

.custom-input {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.tick {
    position: absolute;
    top: 2px;
    right: 80px;
    height: 17px;
    width: 17px;
    background-color: #F8FAFB;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.left-choices-tick {
    right: 125px;
}

@media (max-width: 992px) {
    .left-choices-tick {
        right: 80px;
    }
}

.custom-input input:checked ~ .tick {
    background-color: #0081FF !important;
}

.tick:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-input input:checked ~ .tick:after {
    display: block;
}

.custom-input .tick:after {
    left: 6px;
    top: 0px;
    width: 6px;
    height: 13px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg)
}

.state {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 30px;
}

.state .form-group {
    padding: 0;
}

.state .form-control {
    margin-top: 10px;
    background-color: #F8FAFB;
    box-shadow: none !important;
    height: 40px !important;
}

.state [class^="ti-angle-down"] {
    position: absolute;
    left: 10px;
    top: 47px;
    font-size: 10px;
}

.tg-input {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 30px;
}

form label {
    color: #8697A8 !important;
}

div.tagsinput {
    border: none !important;
    background-color: #F8FAFB;
    padding: 5px 5px 0 5px !important;
    width: 100% !important;
    min-height: 40px !important;
    height: fit-content !important;
    overflow-y: unset !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
}

div.tagsinput div {
    display: block;
    float: right !important;
}

div.tagsinput div input {
    font-family: IRANSans !important;

}

div.tagsinput span.tag {
    border: none !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
    float: right !important;
    padding: 5px;
    text-decoration: none;
    background: #EAEDF0;
    color: #343A40;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: IRANSans !important;
    font-size: 13px;
}

div.tagsinput span.tag a {
    color: #343A40;
}

.btn:focus {
    box-shadow: none !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F8FAFB;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0081FF;
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

.slider.round {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}

.slider.round:before {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.toggle-switch > span {
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #8697A8 !important;
    margin-top: 3px;
}

.toggle-switch {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 30px;
}

/*.owl-carousel .owl-stage-outer {*/
/*    direction: rtl !important;*/
/*}*/

/*.owl-carousel.owl-drag .owl-item {*/
/*    direction: ltr;*/
/*}*/

.owl-transition {
    transition: 1s;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.dispensing-btn {
    background-color: #D8ECFF !important;
    color: #0081FF !important;
}

.warning {
    color: #FF3D57;
    font-size: 10px;
    margin-right: 10px;
    font-weight: bold !important;
}

.choice-warning {
    color: #FF3D57;
    font-size: 10px;
    margin-right: 10px;
    font-weight: bold !important;
    display: flex;
    position: relative;
    width: fit-content;
}

.left-choice-warning {
    color: #FF3D57;
    font-size: 10px;
    margin-right: 60px;
    font-weight: bold !important;
    display: inline-block;
    position: relative;
    width: fit-content;
    float: right;
}

.izi-font {
    font-family: IRANSans;
}

.dispensing {
    max-height: 13%;
    position: relative;
    top: 25%;
}

.dispensing > div {
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #1BBDFE;
    background-color: #F8FAFB;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: none;
}

.loader {
    border: 3px solid #F8FAFB;
    border-top: 3px solid #1BBDFE;
    border-right: 3px solid #1BBDFE;
    border-bottom: 3px solid #1BBDFE;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1.5s linear infinite;
    margin-top: 7px;
    margin-right: 10px;
    float: right;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.updating span {
    font-size: 11px;
    padding-right: unset;
    margin-left: 10px;
    margin-top: 11px;
    display: inline-flex;
    color: #1BBDFE;
}

.saved span:first-child {
    float: right;
    font-size: 28px;
    color: #1BBDFE;
}

.saved span:last-child {
    font-size: 11px;
    padding-right: unset;
    margin-left: 20px;
    margin-top: 14px;
    display: inline-flex;
    color: #1BBDFE;
}

.saved-show {
    display: block !important;
}

.updating-show {
    display: block !important;
}

.owl-carousel .owl-item {
    direction: rtl !important;
}

.modal-backdrop {
    background-color: #8697A8 !important;
}

.modal-content {
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border: none !important;
}

.yellow-circle {
    background-color: #FFD700;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.yellow-circle svg {
    font-size: 80px;
    color: #FFFFFF;
}

.modal-body h1 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: table;
    padding-right: 0 !important;
    margin-top: 15px !important;
    font-size: 18px !important;
    margin-bottom: 7px !important;
}

.modal-body {
    padding-bottom: 10px !important;

}

.modal-footer {
    border-top: none !important;
}

.alert-modal .modal-footer {
    padding: 0 !important;
}

.alert-modal .modal-footer .btn {
    min-width: 0 !important;
    width: 50%;
    float: right;
    background-color: #F8FAFB;
    margin: 0;
    font-size: 17px;
    height: 50px;
}

.alert-modal .modal-footer button {
    color: #8697A8;
    border-bottom-left-radius: 15px !important;
    -webkit-border-bottom-left-radius: 15px !important;
}

.modal-footer a {
    border-bottom-right-radius: 15px !important;
    -webkit-border-bottom-right-radius: 15px !important;
    padding-top: 14px !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-label="iran-sans"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-label="iran-sans"]::before {
    content: 'iran sans';
    font-family: "IRANSans", serif;
}

#toolbar-container .ql-font span[data-label="نازنین"]::before {
    font-family: "B Nazanin";
}

#toolbar-container .ql-font span[data-label="یکان"]::before {
    font-family: "B Yekan";
}

#toolbar-container .ql-font span[data-label="میترا"]::before {
    font-family: "B Mitra";
}

/* Set content font-families */
.ql-font-iran-sans {
    font-family: 'IRANSans';
}

.ql-font-yakan {
    font-family: "B Yekan";
}

.ql-font-mitra {
    font-family: "B Mitra";
}

#editor-container {
    font-family: "B Nazanin";
    font-size: 14px;
}

/*#toolbar-container {*/
/*    display: none;*/
/*}*/
.toolbar-container-show {
    display: flex !important;
}

.ql-container.ql-snow {
    border: none;
}

.ql-snow .ql-picker.ql-font {
    color: #8697A8;
    font-weight: bold;
}

.ql-snow .ql-picker {
    font-size: 16px !important;
}

.ql-toolbar.ql-snow {
    font-family: "B Nazanin" !important;
    border: none;
    border-bottom: 1px solid #8697A820 !important;
    text-align: right;
    margin: 0 10px;
}

.ql-picker-label .ti-angle-down {
    font-size: 10px;
    top: 9px;
    left: 13px;
}


.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label:focus, .ql-snow .ql-picker.ql-font:focus, .ql-picker-options span:focus {
    outline: none !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    margin-right: -5px;
}

.ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-picker.ql-expanded .ql-picker-label, .ql-snow.ql-toolbar .ql-picker-label:hover {
    color: #8697A8 !important;
}

.ML__cmr, .ML__mathbf {
    font-family: IRANSans;
}

.ML__keyboard div .rows > ul > li {
    font-size: 14px;
}

.second-choice-text, .fourth-choice-text {
    float: left !important;
}

.left-choices-label {
    margin-right: 35px;
}

@media (max-width: 992px) {
    .left-choices-label {
        margin-right: 0;
    }
}

.card {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2) !important;
}

.ql-toolbar.ql-snow .ql-formats {
    margin-right: 10px;
    padding-left: 10px;
    margin-left: 0;
    border-left: 1px solid #8697A820;
}

.ql-toolbar.ql-snow .ql-formats:last-child {
    border-left: none;
}

.ql-snow .ql-toolbar.snow, .ql-snow .ql-stroke {
    stroke: #8697A8;
}

.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: #8697A8;
}

.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
    right: auto;
    left: 0;
}

.ql-snow .ql-color-picker .ql-picker-label svg,
.ql-snow .ql-icon-picker .ql-picker-label svg {
    vertical-align: baseline;
}

.header {
    margin: 15px 15px 0 0;
}

.header .form-group {
    margin-left: 15px;
    margin-bottom: 0;
}

.scrolled-header .form-group {
    margin-left: 15px;
    margin-bottom: 0;
}

.header .form-group:first-child {
    margin-right: 15px;
}

.scrolled-header .form-group:first-child {
    margin-right: 15px;
}

.header .form-group .ti-angle-down {
    left: 10px;
    top: 14px;
    font-size: 11px;
}

.scrolled-header {
    direction: rtl;
    padding-top: 15px;
}

.scrolled-header .form-control {
    background-color: #F8FAFB;
}

.scrolled-header .form-control:focus,
.scrolled-header .form-control:hover {
    box-shadow: none;
}

.scrolled-header .question-page-selects {
    box-shadow: none;
}

.scrolled-header .form-group .ti-angle-down {
    left: 10px;
    top: 14px;
    font-size: 11px;
}

.scrolled-header .input-group {
    margin-right: auto;
    max-width: 25%;
    margin-left: 15px;
}

.question-page-selects {
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: #8697A8;
    appearance: none;
    -webkit-appearance: none;
    height: 35px;
    width: 75px;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.question-page-selects:focus,
.question-page-selects:hover {
    color: #343A40;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.form-control:focus {
    border-color: unset;
}

.question-page-selects option {
    box-shadow: none !important;
}

.questions-content {
    margin: 20px 15px 20px 20px;
    direction: ltr;
}

.questions-content .card {
    border: unset;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 20px;
}

.questions-content .card-body {
    padding: 45px 12px 50px 100px;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    background-color: transparent;
}

.questions-content .form-check {
    margin: 0 0 1rem 0;
}

.questions-content .checkmark {
    top: 0;
    left: 0;
    height: 17px;
    width: 17px
}

.questions-content .customBox .checkmark:after {
    left: 6px;
    top: 1px;
    width: 6px;
    height: 12px;
}

pre {
    direction: rtl;
    float: right;
    margin-right: 15px;
    margin-block-end: auto;
    font-size: 14px;
    font-weight: bold;
    text-align: justify;
    width: calc(100% - 40px);
    white-space: pre-line;
    overflow: unset;
    font-family: IRANSans;
    line-height: 2rem;
    position: relative;
    top: -7px;
}

.next-question-page-body pre {
    margin-right: 30px;
}

.type {
    position: relative;
    bottom: 5px;
    font-size: small;
    color: #8697A8;
}

.question-inline-choices {
    direction: rtl;
    display: flex;
    width: 70%;
    float: right;
    position: relative;
    right: 5%;
    margin-top: 15px;
    font-size: 14px;
}

.question-inline-choices span:first-child {
    margin-left: auto;
}

.question-inline-choices span:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
}

.question-inline-choices span:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
}

.question-inline-choices span:last-child {
    margin-right: auto;
}

.question-block-choices {
    direction: rtl;
    width: 70%;
    float: right;
    position: relative;
    right: 5%;
    margin-top: 15px;
    font-size: 14px;
    text-align: right;
}

.question-texts {
    padding-right: 25px;
    position: relative;
    display: block;
    bottom: 22px;
}

.selected-correct-choice {
    color: #0081FF;
}

.inline-selected-correct-choice-tick {
    padding-left: 15px;
}

.inline-selected-correct-choice-tick:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 15px;
    border: solid #0081FF;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.block-selected-correct-choice-tick:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 15px;
    right: -15px;
    border: solid #0081FF;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.alert-circle {
    width: 20px;
    height: 20px;
    background-color: #343A40;
}

.iziToast > .iziToast-body .iziToast-texts {
    display: inline-grid;
    float: none;
    position: relative;
    direction: rtl;
    left: 10%;
    font-size: 15px;
}

.customized-izi-text-small {
    top: 2px;
}

.iziToast > .iziToast-close {
    background: none;
    top: 7%;
    left: 1%;
    right: unset;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 1px;
    color: #44566C;
    background-color: #E9ECEF;
    opacity: 1;
}

.iziToast > .iziToast-close:hover {
    outline: none;
    color: #fff;
    background-color: #FF3D57;
    box-shadow: 0 0 5px 0 #FF3D5790;
}

.iziToast > .iziToast-close svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.iziToast > .iziToast-body .iziToast-icon {
    left: 97%;
    top: 25%;
    margin-top: auto;

}

.customized-izi-icon-small {
    top: 15% !important;
}

.warning-alert-circle {
    background-color: #FF3D57;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 30px;
    height: 30px;
}

.warning-alert-circle svg {
    font-size: 30px;
    color: #FFFFFF;
}

.iziToast > .iziToast-body .iziToast-title {
    text-align: right;
    line-height: unset;
    font-size: 15px;
    color: #FF3D57;
    margin-right: 0 !important;
}

.customized-warning-izi-toast,
.customized-success-izi-toast,
.customized-info-izi-toast {
    background-color: #FFFFFF !important;
    font-family: IRANSans;
    border: none;
    width: 360px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.customized-warning-izi-toast-small,
.customized-success-izi-toast-small,
.customized-info-izi-toast-small {
    background-color: #FFFFFF !important;
    font-family: IRANSans;
    border: none;
    width: 300px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.customized-warning-izi-toast:after,
.customized-success-izi-toast:after,
.customized-info-izi-toast:after {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.customized-warning-izi-toast-small:after,
.customized-success-izi-toast-small:after,
.customized-info-izi-toast-small:after {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.customized-warning-izi-toast:before,
.customized-warning-izi-toast-small:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 100%;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background-color: #FF3D57;
    z-index: 1;
}

.customized-success-izi-toast:before,
.customized-success-izi-toast-small:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 100%;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background-color: #2BDE3F;
    z-index: 1;
}

.success-alert-circle {
    background-color: #2BDE3F;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 30px;
    height: 30px;
}

.success-alert-circle svg {
    font-size: 22px;
    color: #FFFFFF;
    position: relative;
    top: 6px;
    left: 4px;
}

.customized-info-izi-toast:before,
.customized-info-izi-toast-small:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 100%;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background-color: #FFC007;
    z-index: 1;
}

.info-alert-circle {
    background-color: #FFC007;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 30px;
    height: 30px;
}

.info-alert-circle svg {
    color: #FFFFFF;
    font-size: 30px;
}

.question-counter {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #F8FAFB;
    padding: 12px 15px;
    color: #1BBDFE;
    border: 1px solid #1BBDFE;
    opacity: 50%;
    margin: auto;
}

.question-counter-active {
    opacity: 100%;
    cursor: pointer;
}

.question-counter h2 {
    font-size: 13px;
    text-align: center;
    margin: 0;
}

.question-counter h2 svg {
    font-size: 18px;
}

.counter-parent {
    display: none;
}

.second-toolbar {
    display: none;
}

.fr-box.fr-basic.fr-top .fr-wrapper {
    border: none;
    background-color: transparent;
}

.editor-toolbar.fr-box.fr-basic.fr-top .fr-wrapper {
    display: none;
}

.fr-toolbar.fr-top {
    position: absolute;
    top: 75px !important;
    left: -720px;
    padding-right: 50px;
    -webkit-border-radius: 0 0.5em 0.5em 0;
    -moz-border-radius: 0 0.5em 0.5em 0;
    border-radius: 0 0.5em 0.5em 0;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2) !important;
    z-index: 999;
}

.fancy-tree-container {
    /*direction: rtl;*/
}

ul.fancytree-container {
    border: none;
    font-family: "IRANSans", serif;
}

.modal-header {
    border: none;
}

.modal-header .modal-title {
    font-weight: bold;
    color: #44566C;
}

.modal-header .close {
    position: relative;
    opacity: 1;
    padding: 15px;
    color: #44566C;
    background-color: #E9ECEF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto 0 0;
}

.modal-header .close svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    opacity: unset;
}

.modal-header .close:hover, .modal-header .close:focus {
    outline: none;
    color: #fff;
    background-color: #FF3D57;
    box-shadow: 0 0 5px 0 #FF3D5790;
}

.fancy-tree-selected {
    /*border: 1px solid #135;*/
}

.min-h-300 {
    min-height: 300px !important;
}

span.vr-hr {
    position: relative;
}

span.vr-hr:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #8697A8;
}

.fancy-tree-selected div.tagsinput {
    background-color: transparent;
}

.fancy-tree-selected div.tagsinput div {
    display: none;
}

.fancytree-node:not(.fancytree-folder) span.fancytree-icon {
    display: none;
}

.scrolled-header {
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid #000;
    transform: translateY(-68px);
    z-index: -1;
    transition: 0.3s;
}

.scrolled-header-show {
    transform: translateY(0);
    z-index: 10;
}

.scrolled-header .ti-search {
    top: 20px;
}

.modal-open .modal {
    overflow-y: hidden;
}

span.fancytree-icon {
    margin-right: 10px;
}

.fancytree-container.fancytree-rtl .fancytree-exp-n span.fancytree-expander,
.fancytree-container.fancytree-rtl .fancytree-exp-nl span.fancytree-expander {
    margin-right: 10px;
}

span.fancytree-expander {
    margin-left: 5px;
}

span.fancytree-checkbox:hover {
    cursor: pointer;
}

.fancytree-plain.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active:hover span.fancytree-title {
    background-color: transparent;
    border-color: unset !important;
    color: unset;
}

.fancytree-plain.fancytree-container span.fancytree-node.fancytree-active span.fancytree-title {
    background-color: transparent !important;
    color: unset;
}

.fancy-tree-selected div.tagsinput span.tag {
    background-color: #F8FAFB;
    color: #44566C;
}

.fancy-tree-selected div.tagsinput span.tag a {
    color: #44566C;
}

.question-type {
    position: absolute;
    margin-top: 5px;
    top: 0;
    right: 0;
    margin-right: 15px;
}

.question-type span {
    font-size: 12px;
    margin-left: 5px;
    color: #8697A8;
}

.question-type > span > span:last-child {
    color: #343A40;
    font-weight: bold;
}

.question-info {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    direction: rtl;
}

.question-info-img {
    width: fit-content;
    position: relative;
    margin-right: auto;
    background-color: #F8FAFB;
    padding: 10px;
    border-radius: 10px;
}

.question-info-img img {
    width: 55px !important;
}

.question-info-img p {
    position: absolute;
    margin-top: 15px;
    font-size: 13px;
    transform: translateX(-40%);
}

.question-info-data span, .bi-pie-chart {
    margin-left: 10px;
}

.bi-pie-chart:hover {
    cursor: pointer;
    color: #0081FF;
}

.question-level span {
    font-size: 12px;
    position: relative;
    left: 10px;
}

.bi-dot-hard {
    font-size: 40px;
    position: relative;
    top: 1px;
    color: #FF3D57;
}

.bi-dot-simple {
    font-size: 40px;
    position: relative;
    top: 1px;
    color: #2BDE3F;
}

.bi-dot-middle {
    font-size: 40px;
    position: relative;
    top: 1px;
    color: #FFD700;
}

.questions .card-body > span {
    position: absolute;
    color: #0081FF;
    font-size: 12px;
    bottom: 0;
    margin: 0 15px 5px 0;
    right: 0;
    cursor: pointer;
}

.verbose-ans h3 {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    margin-right: 15px;
}

.verbose-ans pre {
    font-size: 13px;
    font-weight: unset;
}

.verbose-ans {
    position: relative;
    padding: 10px;
    z-index: 1;
    border-top: 1px solid #8697A8;
    background-color: #F8FAFB;
    display: none;
}

.verbose-ans .close {
    position: absolute;
    opacity: 1;
    padding: 12px;
    color: #44566C;
    background-color: #E9ECEF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 5px auto 0 5px;
    top: 0;
}

.card-body .close {
    position: absolute;
    opacity: 1;
    padding: 12px;
    color: #44566C;
    background-color: #E9ECEF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: -3px 10px 0 10px;
    right: 0;
}

.verbose-ans .close:focus,
.card-body .close:focus,
.verbose-ans .close:hover,
.card-body .close:hover {
    outline: none;
    color: #fff;
    background-color: #FF3D57;
    box-shadow: 0 0 5px 0 #FF3D5790;
}

.verbose-ans .close svg,
.card-body .close svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 18px;
}

.question-info .dropdown {
    width: 0;
    margin-left: 15px;
    margin-top: 10px;
}

.question-info .dropdown .btn {
    min-width: 0;
    color: #44566C;
    background-color: #fff;
    border: none;
    padding: 0;
    position: absolute;
}

.question-info .dropdown .btn svg {
    font-size: 20px;
}

.dropdown .dropdown-toggle::after {
    display: none;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    color: #44566C;
    background-color: #fff;
    border: none;
}

div.pagination {
    margin-top: 30px;
    padding: 0 20px;
    direction: rtl;
}

div.pagination > div:first-child {
    font-size: 14px;
    color: #8697A8;
}

div.pagination nav {
    position: relative;
    margin-right: auto;
    direction: ltr;
}

div.pagination li:last-child {
    border-left: 1px solid #8697A820;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.pagination li:first-child {
    border-right: 1px solid #8697A820;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.pagination li {
    padding: 3px;
    background-color: #fff;
    height: 35px;
    width: 30px;
}

ul.pagination {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2)
}

.page-link {
    position: relative;
    display: block;
    margin-left: 0;
    line-height: 20px;
    background-color: #fff;
    border: none;
    height: 29px;
    padding: 0;
    color: #44566C;
    border-radius: 3px;
}

.page-link[aria-label="Next"],
.page-link[aria-label="Previous"] {
    background-color: transparent;
    color: inherit;
}


.page-item.disabled .page-link {
    color: #6c757d;
    background-color: transparent;
}

.page-link i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 2px;
}

.page-link span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 2px;
}

.page-link span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    padding-top: 3px;
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
}

.page-link:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #0081FF;
    border-color: #FFFFFF;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}

.page-item:first-child:hover,
.page-item:last-child:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #0081FF;
    border-color: #FFFFFF;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}


.page-item.disabled:first-child:hover, .page-item.disabled:last-child:hover {
    background-color: #E9ECEF;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.question-body .owl-carousel .owl-stage-outer {
}

.header .dropdown-toggle {
    color: #44566C;
    background-color: #fff;
    border: none;
    min-width: 60px;
    padding: 7px 15px;
    margin-right: 15px;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
    font-weight: bold;
}

.header .dropdown-toggle:focus {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2) !important;
}

.header .dropdown svg {
    position: relative;
    right: 8px;
}

.header > span {
    margin-top: 5px;
    color: #8697A8;
}

#questionInfo .modal-dialog {
    max-width: 500px;
}

#questionInfo .modal-content {
    padding: 0 20px;
}

#questionInfo .modal-header {
    padding: 20px 0;
}

#questionInfo .modal-body {
    padding: 0 !important;
}

#questionInfo .modal-footer {
    padding-bottom: 0;
}

#questionInfo input[type='submit'] {
    box-shadow: unset;
}

#questionInfo .input-group {
    display: block;
}

#questionInfo input[type='text'] {
    background-color: #F8FAFB;
    box-shadow: unset;
    padding: .375rem .75rem;
}

#questionInfo label[for='examSubject'],
#questionInfo label[for='examExplanation'] {
    display: flex;
    font-size: 14px;
}

#questionInfo h4 {
    font-size: 14px;
    display: flex;
    color: #8697A8;
}

.suggested-time div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#questionInfo input[type='number'] {
    background-color: #F8FAFB;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 35px;
    font-size: 14px;
    width: 70px;
    padding: 10px 10px 10px 0;
    text-align: center;
}

.suggested-time div span {
    margin: 0 10px;
}

#questionInfo form > div:nth-child(3) {
    position: relative;
    top: 20px;
}

#questionInfo #examExplanation {
    width: 100%;
    border: unset;
    background-color: #F8FAFB;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    text-align: justify;
}

#questionInfo input:focus,
#questionInfo #examExplanation:focus {
    outline: unset;
}

#questionInfo .toggle-switch > span {
    font-weight: unset;
    margin-top: 2px;
}

.trash-and-drag {
    margin-right: auto;
    margin-left: 15px;
    display: flex;
    position: relative;
    bottom: 15px;
}

.trash-and-drag div {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #EAEDF0;
    margin-right: 15px;
    cursor: pointer;
}

.trash-and-drag svg {
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 10px;
}

.plus-question {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #0081FF;
    margin: 0 15px;
    cursor: pointer;
    position: relative;
    bottom: 3px;
}

.plus-question svg {
    font-size: 30px;
    position: relative;
    top: 5px;
    left: 5px;
    color: #FFFFFF;
}

.next-question-page-body .header .input-group {
    width: 22%;
    margin-right: auto;
}

/*.question-body .btn-blue {*/
/*        position: fixed;*/
/*    top: 90%;*/
/*    margin-left: 15px;*/
/*}*/