{% extends 'student/layouts/base_layout.html' %}
{% block title %}exam{% endblock %}
{% block content %}
    <div class="row top-row"></div>
    <div class="row">
        <h1>کارنامه آزمون ها</h1>
    </div>
    <div class="row middle-row">
        <div class="form-group">
            <select id="inputStateBig" class="form-control">
                <option selected>12 فروردین 1399</option>
            </select>
            <span class="ti-angle-down"></span>
            <span class="ti-calendar select-icon"></span>
        </div>
        <div class="form-group">
            <select id="inputStateSmall" class="form-control">
                <option selected>همه</option>
            </select>
            <span class="ti-angle-down"></span>
        </div>
    </div>
    <div class="row bottom-row">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h1>نتیجه آزمون</h1>
                    {% for table in data.result %}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">{{ table.type }}</th>
                                <th scope="col">درصد</th>
                                <th scope="col">تراز</th>
                                <th scope="col">رتبه</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rows in table.lessonDate %}
                                <tr>
                                    <td class="text-right">{{ rows.name }}</td>
                                    <td>{{ rows.percent }}</td>
                                    <td>{{ rows.level }}</td>
                                    <td>{{ rows.rank }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="card">
                <div class="card-body">
                    <h1>پاسخبرگ</h1>
                    {% for key, ans in  data.key_ans %}
                        {% if forloop.counter0|divisibleby:10 %}
                            <table class="pack">
                        {% endif %}
                    <tr>
                        <td>
                            <span>
                                {{ forloop.counter }}
                                .
                            </span>
                        </td>
                        {% for i in "1234"|make_list %}
                            <td>
                            <span {% if ans == key and ans == i %}
                                class="filled-choice"
                            {% elif ans == i %}
                                class="false-choice"
                            {% elif key == i %}
                                class="true-choice"
                            {% endif %}></span>
                            </td>
                        {% endfor %}
                    </tr>
                    {% if forloop.counter0|add:1|divisibleby:10 or forloop.last %}
                        </table>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}