{% extends 'student/layouts/base_layout.html' %}
{% block title %}کارنامه آزمون{% endblock %}


{% block content %}
    <h1>کارنامه آزمون</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'student:index' %}">
                    <svg class="bi bi-house-fill" width="1em" height="1em" viewBox="0 0 16 16"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M8 3.293l6 6V13.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z"
                              clip-rule="evenodd"></path>
                        <path fill-rule="evenodd"
                              d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
            </li>
            <li class="breadcrumb-item">آزمون ها</li>
            <li class="breadcrumb-item active" aria-current="page">کارنامه آزمون</li>
        </ol>
    </nav>


    {#    <div class="row top-row"></div>#}
    {#    <div class="row middle-row">#}
    {#        <div class="form-group">#}
    {#            <select id="inputStateBig" class="form-control">#}
    {#                <option selected>12 فروردین 1399</option>#}
    {#            </select>#}
    {#            <span class="ti-angle-down"></span>#}
    {#            <span class="ti-calendar select-icon"></span>#}
    {#        </div>#}
    {#        <div class="form-group">#}
    {#            <select id="inputStateSmall" class="form-control">#}
    {#                <option selected>همه</option>#}
    {#            </select>#}
    {#            <span class="ti-angle-down"></span>#}
    {#        </div>#}
    {#    </div>#}
    <div class="clearfix w-100 mb-4">
        <span class="float-right w-100 w-md-25">
            <div class="form-group white-bg">
                <label for="inputGroupSelect02"></label>
                <div class="input-group white-bg mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"></path>
                                <path fill-rule="evenodd"
                                      d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"></path>
                            </svg>
                        </span>
                    </div>
                    <select class="custom-select prepend-select" id="inputGroupSelect02">
                        {% for exam in exam_list %}
                            {% if forloop.counter == 1 %}
                                <option value="{{ exam.id }}" selected>{{ exam.title }}</option>
                            {% else %}
                                <option value="{{ exam.id }}">{{ exam.title }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </span>
    </div>
    <div class="row bottom-row">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h1>نتیجه آزمون</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">{{ data.result.name }}</th>
                            <th scope="col">درصد</th>
                            <th scope="col">تراز</th>
                            <th scope="col">رتبه</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rows in data.result.lesson_data %}
                            <tr>
                                <td class="text-right">{{ rows.name }}</td>
                                <td dir="ltr">{{ rows.percent }}%</td>
                                <td>{{ rows.level }}</td>
                                <td>{{ rows.rank }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="card">
                <div class="card-body">
                    <h1>پاسخبرگ</h1>
                    {% for key, ans in  data.key_ans %}
                        {% if forloop.counter0|divisibleby:10 %}
                            <table class="pack">
                        {% endif %}
                    <tr>
                        <td>
                            <span>
                                {{ forloop.counter }}
                                .
                            </span>
                        </td>
                        {% for i in "1234"|make_list %}
                            <td>
                            <span {% if ans == key and ans == i %}
                                class="filled-choice"
                            {% elif ans == i %}
                                class="false-choice"
                            {% elif key == i %}
                                class="true-choice"
                            {% endif %}></span>
                            </td>
                        {% endfor %}
                    </tr>
                    {% if forloop.counter0|add:1|divisibleby:10 or forloop.last %}
                        </table>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}