{% extends 'student/layouts/base_layout.html' %}
{% load static %}
{% block title %}MakeExam{% endblock %}
{% block content %}
    {% block script %}
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
    {% endblock %}
    {% block owl-js %}
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    {% endblock %}
    {% block style %}
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css">
    {% endblock %}
    {% block owl-css %}
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    {% endblock %}
    {% block owl-theme %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    {% endblock %}
    {% block owl-th %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
    {% endblock %}
    {% block owl-thww %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.css">
    {% endblock %}
    {% block owl-img %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/ajax-loader.gif">
    {% endblock %}
    {% block animate.css %}
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    {% endblock %}
    <div class="make-exam-top">
        <h1 class="make-exam-h1">افزودن سوال جدید</h1>
        <div class="top-icons">
            {#            <span><img src="{% static 'main/img/technology.svg' %}"></span>#}
            <span><img src="{% static 'main/img/signs.svg' %}"></span>
            {#            <span><img src="{% static 'main/img/education.svg' %}"></span>#}
            {#            <span><img src="{% static 'main/img/maths.svg' %}"></span>#}
            {#            <span><img src="{% static 'main/img/transport.svg' %}"></span>#}
            {#            <span><svg class="bi bi-bar-chart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"#}
            {#                       xmlns="http://www.w3.org/2000/svg">#}
            {#                <rect width="4" height="5" x="1" y="10" rx="1"/>#}
            {#                <rect width="4" height="9" x="6" y="6" rx="1"/>#}
            {#                <rect width="4" height="14" x="11" y="1" rx="1"/>#}
            {#            </svg></span>#}
        </div>
        <div class="path">
                    <span>
                        <a href="{% url 'student:index' %}">
                            <svg class="bi bi-house-door-fill" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.5 10.995V14.5a.5.5 0 01-.5.5H2a.5.5 0 01-.5-.5v-7a.5.5 0 01.146-.354l6-6a.5.5 0 01.708 0l6 6a.5.5 0 01.146.354v7a.5.5 0 01-.5.5h-4a.5.5 0 01-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
                                    <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z"
                                          clip-rule="evenodd"/>
                            </svg>
                        </a>
                        <span>
                            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </span>
                        <a href="{% url 'student:exam' %}">آزمون ها</a>
                        <span>
                            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </span>
                        <a href="#">افزودن سوال</a>
                    </span>
        </div>
    </div>
    <div class="row make-exam-bottom-row w-100">
        <div class="card w-100">
            <div class="card-body">
                <form id="add-question-form" method="post" action="{% url 'student:saveNewQuestion' %}">
                    {% csrf_token %}
                    <label for="question-textarea">صورت سوال</label>
                    <div id="question-textarea" class="w-100 question-textarea">
                    </div>
                    <div class="change-btns">
                        <button type="button" class="btn btn-blue">
                            <svg class="bi bi-grid" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M1 2.5A1.5 1.5 0 012.5 1h3A1.5 1.5 0 017 2.5v3A1.5 1.5 0 015.5 7h-3A1.5 1.5 0 011 5.5v-3zM2.5 2a.5.5 0 00-.5.5v3a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-3a.5.5 0 00-.5-.5h-3zm6.5.5A1.5 1.5 0 0110.5 1h3A1.5 1.5 0 0115 2.5v3A1.5 1.5 0 0113.5 7h-3A1.5 1.5 0 019 5.5v-3zm1.5-.5a.5.5 0 00-.5.5v3a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-3a.5.5 0 00-.5-.5h-3zM1 10.5A1.5 1.5 0 012.5 9h3A1.5 1.5 0 017 10.5v3A1.5 1.5 0 015.5 15h-3A1.5 1.5 0 011 13.5v-3zm1.5-.5a.5.5 0 00-.5.5v3a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-3a.5.5 0 00-.5-.5h-3zm6.5.5A1.5 1.5 0 0110.5 9h3a1.5 1.5 0 011.5 1.5v3a1.5 1.5 0 01-1.5 1.5h-3A1.5 1.5 0 019 13.5v-3zm1.5-.5a.5.5 0 00-.5.5v3a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-3a.5.5 0 00-.5-.5h-3z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </button>
                        <button type="button" class="btn">
                            <svg class="bi bi-list" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </button>
                    </div>

                    <label for="complete-ans">پاسخ تشریحی</label>
                    <div id="complete-ans" class="w-100 complete-ans">
                    </div>

                    <div class="row w-100 choices">
                        <table class="w-100">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="col-lg-12 choice">
                                        <label for="1th-choice" class="custom-input"><span>گزینه اول</span>
                                            <input type="radio" id="1th-choice" name="choice" value="first-choice">
                                            <span class="tick"></span>
                                        </label>
                                        <div></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-lg-12 choice">
                                        <label for="2th-choice" class="custom-input"><span>گزینه دوم</span>
                                            <input type="radio" id="2th-choice" name="choice" value="first-choice">
                                            <span class="tick left-choices-tick"></span>
                                        </label>
                                        <div></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-12 choice">
                                        <label for="3th-choice" class="custom-input"><span>گزینه سوم</span>
                                            <input type="radio" id="3th-choice" name="choice" value="first-choice">
                                            <span class="tick"></span>
                                        </label>
                                        <div></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-lg-12 choice">
                                        <label for="4th-choice" class="custom-input"><span>گزینه چهارم</span>
                                            <input type="radio" id="4th-choice" name="choice" value="first-choice">
                                            <span class="tick left-choices-tick"></span>
                                        </label>
                                        <div></div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row w-100 state">
                        <div class="form-group col-md-4">
                            <label for="inputStateSmall">پایه</label>
                            <select id="inputStateSmall" class="form-control">
                                <option selected>همه</option>
                            </select>
                            <span class="ti-angle-down"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputStateSmall">درس</label>
                            <select id="inputStateSmall" class="form-control">
                                <option selected>همه</option>
                            </select>
                            <span class="ti-angle-down"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputStateSmall">فصل</label>
                            <select id="inputStateSmall" class="form-control">
                                <option selected>همه</option>
                            </select>
                            <span class="ti-angle-down"></span>
                        </div>
                    </div>
                    <div class="row w-100 tg-input">
                        <label for="tag-input">کلید واژه</label>
                        <input id="tag-input" class="tag-input">
                    </div>
                    <div class="row toggle-switch">
                        <span>انتشار</span>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <button type="submit">submit</button>
                </form>
            </div>
        </div>
        <div class="row w-100">
        <<div class="owl-carousel owl-theme">
    <div class="item"><h4>1</h4></div>
    <div class="item"><h4>2</h4></div>
    <div class="item"><h4>3</h4></div>
    <div class="item"><h4>4</h4></div>
    <div class="item"><h4>5</h4></div>
    <div class="item"><h4>6</h4></div>
    <div class="item"><h4>7</h4></div>
    <div class="item"><h4>8</h4></div>
    <div class="item"><h4>9</h4></div>
    <div class="item"><h4>10</h4></div>
    <div class="item"><h4>11</h4></div>
    <div class="item"><h4>12</h4></div>
</div>
        </div>
    </div>
{% endblock %}

